div.button--menu.open-menu(id="button-menu")
    a(href="#menu" id="toggle")
        span
    div(id="menu")
        ul
            li
                a(ui-sref="#home") Home
            li
                a(ui-sref="#about") About
            li
                a(ui-sref="#contact") Contact
