div.button--menu.open-menu(id="button-menu")
    a(href="#menu" id="toggle")
        span
    div(id="menu")
        ul
            li
                a(ng-click="") Quests
            li
                a(ng-click="") Ranking
            li
                a(ng-click="") Editar
            li
                a(ng-click="") Logout
