@import "../../../../common/stylesheets/common/colors";

c-progressbar-quests {
  .stepbar-step {
    height: 9px;
    display: inline;
    float: left;
    position: relative;
    padding: 2px;
  }
  .step-inner {
    height: 9px;
    background: $_1_progress-bar__inactive;
  }

  //Stepbar states
  .stepbar-step > .active {
    background: $_1_progress-bar__active;
  }

  .stepbar-step.inactive {
    background: $_1_progress-bar__inactive;
  }

  .step-inner.lapsed {
    background: #d2d2d2;
  }
  //

  #stepbar-step-1, #stepbar-step-1 > .step-inner {
    border-radius: 5px 0px 0px 5px !important;
  }

  .stepbar > div:last-child, .stepbar > div:last-child > .step-inner {
    border-radius: 0px 5px 5px 0px !important;
  }
}