c-progressbar-quests{
  .stepbar-step {
    height: 10px;
    background: grey !important;
    display: inline;
    border: 1px solid grey !important;
    width: 13% !important;
    float: right;
    position: relative;
    margin: 2px;
  }

  #stepbar-step-1 {
    border-radius: 0px 5px 5px 0px !important;
  }
  .stepbar > div:last-child {
    border-radius: 5px 0px 0px 5px !important;
  }
}