.col-xs-12.stepbar
    div.stepbar-step(id="stepbar-step-{{$index+1}}" ng-repeat="step in steps track by $index" style="width:{{width_of_step}}")
        div.step-inner(ng-class="{active: step.complete}")