@import "../../../../common/stylesheets/common/colors";

c-progressbar {

    #stepbar__step-1 > .stepbar__step-inner {
      border-radius: 5px 0px 0px 5px;
    }

    .stepbar__step {
      height: 10px;
      display: inline;
      float: left;
      position: relative;
      padding: 2px;

      &.active > .stepbar__step-inner {
        background: $_1_progressbar-actual;
      }

      &.disable > .stepbar__step-inner {
        background: $_1_progressbar-disable;
      }

      .stepbar__step-inner {
        height: 10px;
        background: $_1_progress-bar__inactive;
        &.last {
          border-top-right-radius: 5px!important;
          border-bottom-right-radius: 5px!important;
        }
      }
    }

    .stepbar__disabled {
      width: 72px;
      height: 6px;
      background: $_1_progressbar-disable;
      position: relative;
      top: 5px;
      left: -1px;
      border-radius: 3px;
      display: none;
      .stepbar__new {
        width: 72px;
        height: 6px;
        background: $_1_progressbar-new;
        position: relative;
        top: 0px;
        left: 0px;
        border-radius: 3px;
        display: block;
      }
    }

}