.col-xs-12.stepbar
    div.stepbar-step(id="stepbar-step-{{$index+1}}" ng-repeat="step in steps track by $index" style="width:{{stepWidth}}" ng-class="{'active': step.complete}" )
        div.step-inner
            span(ng-if="step.title") {{step.title}}