.ht-wrapper--register__form
    c-button-close
    form.ht-form.ht-form--register(name="htFormRegister" ng-show='!$root.goActivateForm')
        .ht-form__group
            input.ht-form__input(ng-model='username' type='text' name="name" placeholder="Nombre")
            span.ht-form__highlight
            span.ht-form__bar
        .ht-form__group
            input.ht-form__input(ng-model='email' type='email' name="email" placeholder="Email")
            span.ht-form__highlight
            span.ht-form__bar
        .ht-form__group
            input.ht-form__input(ng-model='password' type='password' name="password" placeholder="Contraseña")
            span.ht-form__highlight
            span.ht-form__bar
        .ht-form__group-terms
            input(type="checkbox" name="terms" id="checkbox_terms" value="terms" ng-model="checkboxEnableRegister")
            label.checkbox_terms(for="checkbox_terms")
                //TODO Cambiar href, es provisional porque no está acabada la web nueva
                a(href="http://new.hooptap.com/en/terms-conditions/" target="_blank") Acepto los términos y condiciones.
        .ht-form__group-link
            a(hr.ef='#' ng-click='$root.goActivateForm = true;') Activar cuenta
        button.ht-form--button__register(type='button' ng-disabled="!checkboxEnableRegister" ng-click='register()')
            | Registrar
            .ht-form__ripples.buttonRipples
                span.ht-form__ripplesCircle
        //TODO refactorizar el cambio de vistas