div.ht-profile__wrapper
    div.profile-item
        div.profile-item__img
        div.profile-item__name {{::item.name}}
        div.profile-item__username {{::item.username}}
        div.profile-item__email {{::item.email}}
            span.profile-item__email--verified
