form.ht-form--reset(name="htFormReset" ng-show='$root.goResetForm' ng-init="$root.goResetForm = false;" )
	.ht-form__group
		input.ht-form__input(ng-model='emailReset' type='password' name="emailReset" required)
		span.ht-form__highlight
		span.ht-form__bar
		label.ht-form__label {{ 'CUSTOMER.reset.setEmail' | translate }}
	.ht-form__group-link
		a(href='#' ng-click='$root.goResetForm = false;') {{ 'CUSTOMER.reset.goLogin' | translate }}
	.ht-form__group-button
		button.ht-form--button__reset(type='button' ng-click='userReset()')
			| {{ 'CUSTOMER.reset.button' | translate }}