//////////////////--------COLORS---------//////////////////////

// General colors
$white: white;
$black: black;
$red: red;
$green: green;
$yellow: yellow;
$orange: orange;



//// Primary colors template 1
$_1_header-color: #006591!important;
$_1_header-color-text-inactive: rgba(181, 181, 181, 0.71);
$_1_link-text-color: #3bb2d0;
$_1_bar-color-effect: #5264AE;
  //Popup
$_1_popup-text-desc: #545454;
$_1_popup-text-title: #006594;
  //buttons
$_1_btn-active: #aec25c;
$_1_btn-error: #ff5f63;
  //Quests
$_1_progress-bar__active: #a7c353;
$_1_progress-bar__inactive: #ff5f63;
$_1_progress-bar__lapsed: #d2d2d2;
$_1_quest-title: #006591;
$_1_quest-title__inactive: #d2d2d2;
$_1_quest-steps-color: #9e9e9e;
$_1_quest-steps-circle-color: #ff5f63;
