//////////////////--------COLORS---------//////////////////////

// General colors
$white: white;
$black: black;
$red: red;
$green: green;
$yellow: yellow;
$orange: orange;



// Primary colors template 1
$_1_header-color: #006591!important;
$_1_header-color-text-inactive: rgba(181, 181, 181, 0.71);
$_1_link-text-color: #3bb2d0;
$_1_bar-color-effect: #5264AE;
  //buttons
$_1_btn-active: #aec25c;
$_1_btn-error: #ff5f63;
