form.ht-form--reset(ng-show='$root.goResetForm' ng-init="$root.goResetForm = false;" name="resetForm")
	.ht-form__group
		input.ht-form__input(ng-model='emailReset' placeholder='Password' type='text' name="emailReset")
		span.ht-form__highlight
		span.ht-form__bar
	.ht-form__group-link
		a(href='#' ng-click='$root.goResetForm = false;') Go to login
		button.ht-form--button__reset(type='button' ng-click='userReset()')
			| Reset password
			.ht-form__ripples.buttonRipples
				span.ht-form__ripplesCircle