


//////////////////--------HT VALDR---------//////////////////////
.valdr-message {
  color: $red;
  margin: 0;
  font-size: 14px;
}

.ng-valid span:after, .ng-valid span:before {

  background-color: $_1_header-color;
}

.ng-invalid-valdr-required span:after, .ng-invalid-valdr-required span:before {
  background-color: $_1_btn-error;
}


//TODO REFACTOR THIS FILE



