@import '../common/mixins.scss';

//////////////////--------GENERAL STYLES---------//////////////////////

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center{
  text-align: $center;
}

.hide{
  display: $hide;
}

a {
  color: rgba(59, 178, 208, 0.47);
}

a, a:active, a:focus, a:hover {
  outline: $not-outline;
}

input::-moz-focus-inner {
  border: 0;
}

.not-padding {
  padding: 0px!important;
}

//VALDR STYLES
.valdr-message {
  color: $red;
  margin: 0;
  font-size: 14px;
}

.ng-valid span:after, .ng-valid span:before {

  background-color: $_1_header-color;
}

.ng-invalid-valdr-required span:after, .ng-invalid-valdr-required span:before {
  background-color: $_1_btn-error;
}

//MODAL WIDGET
#ht-widget {
  .modal{
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: box;
    z-index: 99999999999!important;
    box-pack: center;
    box-align: center;
    .modal-dialog {
      width: 960px;
      height: 640px;
      -webkit-transform: translate(0);
      transform: translate(-50%,-50%);
      position: absolute;
      margin: 10px;
      top: 50%;
      left: 50%;
      .modal-content {
        height: 100%;
        width: 100%;
        border-radius: 17px;
      }
    }
  }

}
