/**** MIXIN TEMPLATES SIZE**/


// Sizes template 1
.template-1 {
  min-width: 400px;
  max-width: 400px;
  min-height: 300px;
  max-height: 700px;
}

.template-1-popup {
  max-width: 400px;
  min-width: 400px;
  width: 400px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
}