@import '../../../../common/stylesheets/common/_base.scss';
@import '../../../../common/stylesheets/common/colors.scss';
@import '../../../../common/stylesheets/common/mixins.scss';

widget-customer-access-inline {
  display: block;
  width: 100%;
  height: 100%;
  .logout-text {
    cursor: pointer;
  }

  @include scrollbars(10px, $_1_light-grey-background, none, 0px solid $_1_soft-grey-background, 3px);

}

