.widget-customer-access-inline
    .horizontal(ng-show="horizontal")
        form.ht-form-inline(name="htFormWidgetCustomerAccessInline" ng-hide="$root.customer.logged")
            .col-md-5
                input.ht-input(ng-model="model.email" type='email' name="email" placeholder="Email" required)
            .col-md-5
                input.ht-input(ng-model="model.password" type='text' name="password" placeholder="Password" required)
            .col-md-2
                button.ht-btn(type='submit' ng-click="login()" ng-disabled="htFormWidgetCustomerAccessInline.$invalid") {{ 'CUSTOMER.common.login' | translate }}
        .logout(ng-show="$root.customer.logged")
            .customer-name {{customer.name}}
            p.logout-text(ng-click="logout()") {{ 'CUSTOMER.common.logout' | translate }}
    .vertical(ng-show="vertical")
        form.ht-form-inline(name="htFormWidgetCustomerAccessInline" ng-hide="$root.customer.logged")
            .col-md-12
                input.ht-input(ng-model="model.email" type='email' name="email" placeholder="Email" required)
            .col-md-12
                input.ht-input(ng-model="model.password" type='text' name="password" placeholder="Password" required)
            .col-md-12
                button.ht-btn(type='submit' ng-click="login()" ng-disabled="htFormWidgetCustomerAccessInline.$invalid") {{ 'CUSTOMER.common.login' | translate }}
        .logout(ng-show="$root.customer.logged")
            .customer-name {{customer.name}}
            p.logout-text(ng-click="logout()") {{ 'CUSTOMER.common.logout' | translate }}