c-button-close
c-member-nav(ng-if="!$root.logged")
c-profile-simple(ng-if="$root.logged"
image="http://www.busquefotografo.com.br/images/fallback/avatar/thumb_default.png"
imageverified="http://www.iconsdb.com/icons/preview/green/checked-checkbox-xxl.png")