<div class="badges-wrapper">
    <div>
        <div class="one-third-col badge-container1">
            <span class="badge-img1"></span>
            <span class="title_badge1">Welcome aboard</span>
        </div>
        <div class="one-third-col badge-container2">
            <span class="badge-img2"></span>
            <span class="title_badge2">El Embajador de marca</span>
        </div>
        <div class="one-third-col badge-container3">
            <span class="badge-img3"></span>
            <span class="title_badge3">El Shopper</span>
        </div>
    </div>

    <div>
        <div class="one-third-col badge-container4">
            <span class="badge-img4"></span>
            <span class="title_badge4">El Explorador</span>
        </div>
        <div class="one-third-col badge-container5">
            <span class="badge-img5"></span>
            <span class="title_badge5">El Curioso</span>
        </div>
        <div class="one-third-col badge-container6">
            <span class="badge-img6"></span>
            <span class="title_badge6">El comunicador</span>
        </div>
    </div>

    <div>
        <div class="one-third-col badge-container7">
            <span class="badge-img7"></span>
            <span class="title_badge7">El Jugón</span>
        </div>
        <div class="one-third-col badge-container8">
            <span class="badge-img8"></span>
            <span class="title_badge8">El conectado</span>
        </div>
        <div class="one-third-col badge-container9">
            <span class="badge-img9"></span>
            <span class="title_badge9">El Influencer</span>
        </div>
    </div>
</div>