<div class="marketplace-wrapper">
    <div class="container-col-marketplace">
        <div class="one-third-col marketplace-container1">
            <span class="marketplace-img1"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Cañonismo Molinillo 7.000</span></div>
        </div>
        <div class="one-third-col marketplace-container2">
            <span class="marketplace-img2"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Chocolaterapia SAK SPA 7.000</span></div>
        </div>
        <div class="one-third-col marketplace-container3">
            <span class="marketplace-img3"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">The Container restaurant and bar 10.000</span></div>
        </div>
    </div>

    <div class="container-col-marketplace">
        <div class="one-third-col marketplace-container4">
            <span class="marketplace-img4"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Casa Iguana Puerto Vallarta 15.000</span></div>
        </div>
        <div class="one-third-col marketplace-container5">
            <span class="marketplace-img5"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Masajes Antiestres Spa Villa Bejar 20.000</span></div>
        </div>
        <div class="one-third-col marketplace-container6">
            <span class="marketplace-img6"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Vuelo en parapente Puebla 26.000</span></div>
        </div>
    </div>

    <div class="container-col-marketplace">
        <div class="one-third-col marketplace-container7">
            <span class="marketplace-img7"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Flyboard Valle de Bravo 28.000</span></div>
        </div>
        <div class="one-third-col marketplace-container8">
            <span class="marketplace-img8"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Exotic Track Day Cancún 29.000</span></div>
        </div>
        <div class="one-third-col marketplace-container9">
            <span class="marketplace-img9"></span>
            <div class="marketplace-wrapper-title"><span class="title_marketplace">Hotel Bel Air Cancún 33.000</span></div>
        </div>
    </div>
</div>