<div class="marketplace-wrapper">
    <div class="info--holder">
        <div class="info one-third-col">
            <div class="info--label">Regalos</div>
            <div class="info--data info--psreents"></div>
        </div>

        <div class="info one-third-col">
            <div class="info--label">Logros</div>
            <div class="info--data info--marketplace"></div>
        </div>
        <div class="info one-third-col">
            <div class="info--label">Puntos</div>
            <div class="info--data info--points"></div>
        </div>
    </div>

    <div class="marketplace-wrapper">
        <div class="container-col-marketplace">
            <div class="one-third-col marketplace-container1">
                <span class="marketplace-img1"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">Welcome aboard</span></div>
            </div>
            <div class="one-third-col marketplace-container2">
                <span class="marketplace-img2"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El Embajador de marca</span></div>
            </div>
            <div class="one-third-col marketplace-container3">
                <span class="marketplace-img3"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El Shopper</span></div>
            </div>
        </div>

        <div class="container-col-marketplace">
            <div class="one-third-col marketplace-container4">
                <span class="marketplace-img4"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El Explorador</span></div>
            </div>
            <div class="one-third-col marketplace-container5">
                <span class="marketplace-img5"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El Curioso</span></div>
            </div>
            <div class="one-third-col marketplace-container6">
                <span class="marketplace-img6"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El comunicador</span></div>
            </div>
        </div>

        <div class="container-col-marketplace">
            <div class="one-third-col marketplace-container7">
                <span class="marketplace-img7"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El Jugón</span></div>
            </div>
            <div class="one-third-col marketplace-container8">
                <span class="marketplace-img8"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El conectado</span></div>
            </div>
            <div class="one-third-col marketplace-container9">
                <span class="marketplace-img9"></span>
                <div class="marketplace-wrapper-title"><span class="title_marketplace">El Influencer</span></div>
            </div>
        </div>
    </div>