<div class="marketplace-wrapper">
    <div class="info--holder">
        <div class="info one-third-col">
            <div class="info--label">Regalos</div>
            <div class="info--data info--psreents"></div>
        </div>

        <div class="info one-third-col">
            <div class="info--label">Logros</div>
            <div class="info--data info--marketplace"></div>
        </div>
        <div class="info one-third-col">
            <div class="info--label">Puntos</div>
            <div class="info--data info--points"></div>
        </div>
    </div>

    <div class="marketplace-wrapper">
        <div class="container-col-marketplace">
            <div class="one-third-col badge-container1">
                <span class="marketplace-img1"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">Welcome aboard</span></div>
            </div>
            <div class="one-third-col badge-container2">
                <span class="badge-img2"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El Embajador de marca</span></div>
            </div>
            <div class="one-third-col badge-container3">
                <span class="badge-img3"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El Shopper</span></div>
            </div>
        </div>

        <div class="container-col-marketplace">
            <div class="one-third-col badge-container4">
                <span class="badge-img4"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El Explorador</span></div>
            </div>
            <div class="one-third-col badge-container5">
                <span class="badge-img5"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El Curioso</span></div>
            </div>
            <div class="one-third-col badge-container6">
                <span class="badge-img6"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El comunicador</span></div>
            </div>
        </div>

        <div class="container-col-marketplace">
            <div class="one-third-col badge-container7">
                <span class="badge-img7"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El Jugón</span></div>
            </div>
            <div class="one-third-col badge-container8">
                <span class="badge-img8"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El conectado</span></div>
            </div>
            <div class="one-third-col badge-container9">
                <span class="badge-img9"></span>
                <div class="marketplace-wrapper-title"><span class="title_badge">El Influencer</span></div>
            </div>
        </div>
    </div>