<div class="quest-wrapper">
    <div class="info--holder">
        <div class="info one-third-col">
            <div class="info--label">Regalos</div>
            <div class="info--data info--presents"></div>
        </div>

        <div class="info one-third-col">
            <div class="info--label">Logros</div>
            <div class="info--data info--badges"></div>
        </div>
        <div class="info one-third-col">
            <div class="info--label">Puntos</div>
            <div class="info--data info--points"></div>
        </div>
    </div>
</div>