<div class="quest-wrapper">
    <div class="info--holder">
        <div class="info">
            <div class="info--label"></div>
            <div class="info--data info--level"></div>
        </div>

        <div class="info">
            <div class="info--label">Points</div>
            <div class="info--data info--points">
            </div>
        </div>
        <div class="info">
            <div class="info--label">Badges</div>
            <div class="info--data info--badges">
            </div>
        </div>
    </div>

    <div class="quest-steps">
        <div id="quest-step-1" class="quest-step">
            <div class="quest-step--title">Conoce la última noticia</div>
            <div class="quest-step--description">Visita las noticias de actualidad y léela.</div>
        </div>
        <div id="quest-step-2" class="quest-step">
            <div class="quest-step--title">Compártela en redes</div>
            <div class="quest-step--description">¡Ahora comparte la noticia en las redes!</div>
        </div>
        <div id="quest-step-3" class="quest-step">
            <div class="quest-step--title">Visita nuestros partners y caza el murciélago</div>
            <div class="quest-step--description">Recorre nuestra sección de partners y caza al murciélago.</div>
        </div>
        <div id="quest-step-4" class="quest-step">
            <div class="quest-step--title">Suscríbete a nuestras noticias</div>
            <div class="quest-step--description">Encuentra el formulario y suscríbete a nuestro boletín de noticias.
            </div>
        </div>
    </div>
</div>