<!--<li id="<%-_id%>" class="quest&#45;&#45;row" data-finished="<%-finished%>" data-active="<%-active%>">-->

    <!--<div class="quest&#45;&#45;row&#45;&#45;image-holder">-->
        <!--<img class="quest&#45;&#45;row&#45;&#45;image" src="<%-image%>" alt="<%-name%>"/>-->
    <!--</div>-->
    <!--<div class="quest&#45;&#45;row&#45;&#45;text-holder">-->
        <!--<div class="quest&#45;&#45;row&#45;&#45;title"><%-name%></div>-->
        <!--<div class="quest&#45;&#45;row&#45;&#45;desc"><%-desc%></div>-->
    <!--</div>-->
    <!--<% if (finished) { %>-->
        <!--<div class="quest&#45;&#45;row&#45;&#45;status-label bg-black">Finished</div>-->
    <!--<% } else {%>-->
        <!--<% if (!active) { %>-->
            <!--&lt;!&ndash;div class="quest&#45;&#45;row&#45;&#45;status-label bg-green">New</div&ndash;&gt;-->
        <!--<% } else {%>-->
            <!--<div class="quest&#45;&#45;row&#45;&#45;status-label bg-yellow">Active</div>-->
        <!--<% } %>-->
    <!--<% } %>-->

    <!--<table class="stepbar">-->
        <!--<tbody>-->
            <!--<tr class="stepbar-row" data-totalSteps="<%-steps.length%>" data-actualStep="<%-completed_steps.length%>">-->
                <!--<% for (i = 0; i < steps.length; i++) { %>-->
                    <!--<td><div class="stepbar-step  <%= steps[i].name %>  <% if( i <= (completed_steps.length -1) ){ %>  is-completed <% } %>"></div></td>-->
                <!--<% } %>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
    <!--<% if (!finished) { %>-->
        <!--<div class="quest&#45;&#45;row&#45;&#45;actual-step">-->
            <!--<span class="actual-step&#45;&#45;num">Currently in step <%= (completed_steps.length + 1) %> of <%= steps.length %></span>-->
            <!--<div class="actual-step&#45;&#45;name"><%= steps[completed_steps.length].name %></div>-->
        <!--</div>-->
    <!--<% } %>-->
<!--</li>-->