<div class="quest-wrapper">
    <div class="info--holder">
        <div class="info one-third-col">
            <div class="info--label">Regalos</div>
            <div class="info--data info--presents"></div>
        </div>

        <div class="info one-third-col">
            <div class="info--label">Logros</div>
            <div class="info--data info--points"></div>
        </div>
        <div class="info one-third-col">
            <div class="info--label">Puntos</div>
            <div class="info--data info--badges"></div>
        </div>
    </div>

    <div class="quest-steps">
        <div id="quest-step-1" class="quest-step">
            <span class="quest-number quest-number1">1</span>
            <div class="quest-step--title">Login</div>
            <div class="quest-step--description">Ya eres miembro de club premier. Te regalamos 100 puntos para darte la bienvenida.</div>
        </div>
        <div id="quest-step-2" class="quest-step">
            <span class="quest-number quest-number2">2</span>
            <div class="quest-step--title">Descubre Club Premier</div>
            <div class="quest-step--description">Descubre todo lo que puede ofrecerte club premier y consigue 100 puntos más.</div>
        </div>
        <div id="quest-step-3" class="quest-step">
            <span class="quest-number">3</span>
            <div class="quest-step--title">Visita nuestros Partners</div>
            <div class="quest-step--description">Descubre nuestros socios.</div>
        </div>
        <div id="quest-step-4" class="quest-step">
            <span class="quest-number">4</span>
            <div class="quest-step--title">Comparte puntos premiere</div>
            <div class="quest-step--description">Conoce más el programa "Comparte puntos premiere".</div>
        </div>
        <div id="quest-step-5" class="quest-step">
            <span class="quest-number">5</span>
            <div class="quest-step--title">Titulo por definir</div>
            <div class="quest-step--description">Descripción por definir.</div>
        </div>
        <div id="quest-step-6" class="quest-step">
            <span class="quest-number">6</span>
            <div class="quest-step--title">Titulo por definir</div>
            <div class="quest-step--description">Descripción por definir.</div>
        </div>
    </div>
</div>