@import '../../../../common/stylesheets/common/_mixins.scss';

w-widget-badges-grid {
  .ht-badges--list__wrapper.row {
    margin-left: 0!important;
    margin-right: 0!important;
  }

  //->Scrollbar
  .tab-content::-webkit-scrollbar {
    width: 10px;
  }

  .tab-content::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }

  .tab-content::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    outline: 0px solid #c2c2c2;
    @include border-radius(3px);
  }



}