img.badge-detail__img-close(ng-src="http://hooptap.s3.amazonaws.com/widgets/badges/boton-close-grey.svg" ng-click="$close()")
div.center.badge-detail__wrapper(ng-class="{'badge-not-achieved': !item.state}")
    img.badge-detail__img(ng-src="{{item.img}}")
    p.badge-detail__ttl {{item.title}}
    .badge-item__progresbar
        c-progressbar(steps="item.parts" current-step="item.currentStep")
    p.badge-detail__desc {{item.desc}}