img.badge-detail__img-close(ng-src=require("./images/boton-close-grey.svg") ng-click="$close()")
div.center.badge-detail__wrapper(ng-class="{'badge-not-achieved': !item.state}")
    img.badge-detail__img(ng-src="{{item.img}}")
    p.badge-detail__ttl(ng-if="showTitle") {{item.name}}
    .badge-item__progresbar
        c-progressbar(steps="item.parts" current-step="item.currentStep")
    p.badge-detail__desc(ng-if="showDesc") {{item.desc}}