div.ht-profile--advanced
    div.profile--advanced__container
        div.profile--advanced-item__wrapper
            img.profile--advanced-item__img(ng-src="{{image}}")
        div.profile--advanced-item__name {{name}}
        div.profile--advanced-item__username {{username}}
        div.profile--advanced-item__email {{email}}
            span.profile--advanced-item__email--verified-wrapper
                img.profile--advanced-item__email--verified(ng-src="{{imageverified}}")




