.ht-profile--advanced
    .profile--advanced__container
        .col-xs-3.img__wrapper
            img.item__img(ng-src="{{image}}")
        .col-xs-9.data__wrapper
            .item__name {{name}}
            //div.item__username {{username}}
            .item__email {{email}}
                span.item__email--verified-wrapper
                    img.item__email--verified(ng-src="{{imageverified}}")
            .item__id {{id}}
                img.item__img-gender(ng-src="{{imagegender}}")
        .col-xs-12.item__progressbar
            ng-transclude
                c-progressbar(dynamic="dynamic" type="type")
        .col-xs-12.item__points
            .col-xs-2
                p A
            .col-xs-8
                p {{points}}
                    span.item__points-types  pts
            .col-xs-2
                p B
        .col-xs-12.item__badges-list__container
            .col-xs-12.item__badges-list__wrapper(ng-repeat="nc in numberCols track by $index")
                .col-xs-4.item__badges-list__wrapper-badges(ng-repeat="nb in numberBadges track by $index")
                    p b {{$index +1}}
                    p {{$index +1}}0 %






