c-widget-header(title="{{ 'LEVELS.title' | translate }}")
div.ht-level-actual
    div.level-actual__container
        div.level-actual_wrapper
            img.level-actual__img(ng-src="{{image}}")
        ng-transclude
            c-progressbar-old(dynamic="dynamic" type="type")
        div.level-actual_wrapper--detailsNextLevel
            p {{ 'LEVELS.nextLevelDetails' | translate }}






