@import "../../../../common/stylesheets/common/base";

c-widget-header {
  font-family: $base-font-family;
  margin: 0;
  display: block;
  height: 40px;
  background-color: $_1_header-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 400px;
  .widget-header__title{
    padding: 11px 20px 15px 0px;
    font-weight: 700;
    color: white;
    text-align: center;
  }
}