c-notifications-popup {
  #TOASTER {
    z-index: 999999999999999999;
    position: fixed;
    top: 7px;
    right: 7px;
    max-width: 350px;
    min-width: 323px;
    width: 300px;
    height: 70px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 10px 30px 10px 10px;

    .TOAST {
      position: relative;
      text-align: center;
      height: 70px;
      border: 1px solid rgba(255, 255, 255, 0.29);

      .toast-close {
        position: absolute;
        top: 2px;
        right: 5px;
        color: white;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;

      }

      .toast-content {
        display: inline-block;
        padding: 10px 30px 10px 10px;
      }

      .toast-content--span {
        color: black;
        background: white;
        margin-left: 4px;
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer
      }

      .toast-content--href {
        color: black;
        background: white;
        margin-left: 4px;
        padding: 4px 8px;
        border-radius: 4px;
        tcursor: pointer
      }
    }
  }
}