.ht-marker--list-su__container
    .marker--list-su__wrapper(ng-repeat="su in customer.scoreUnit" id="item-su-{{$index}}")
        .col-xs-3
            .marker--list-su__img
                img(ng-src="{{su.img}}")
        .col-xs-9
            .marker--list-su__type {{su.quantity}} {{su.name}}








