c-loader-wrap(value="scoreUnits")
    .ht-marker-list-su(ng-if="!$root.WPF.viewLevelSU")
        .ht-marker-list-su__container
            .ht-marker-list-su__blank(ng-if="!scoreUnits|| scoreUnits < 1")
                img(ng-if="loader" ng-src=require("./images/no-data.svg"))
                p(ng-if="loader") {{::'CUSTOMER.common.empty' | translate}}
        .marker-list-su__wrapper.animated.flipInX(ng-repeat="su in scoreUnits" ng-click="$root.WPF.viewLevelSU = !$root.WPF.viewLevelSU")
            .row(ng-click="levelActual(su)")
                .col-xs-2.not-padding
                    .marker-list-su__img
                        img(ng-src="{{su.image || defaultImage}}")
                .col-xs-10.not-padding
                    span.marker-list-su__name {{su.name}}
                    .marker-list-su__quantity {{su.quantity | numberFilter}}


    c-widget-header(title="{{ level.name }}" ng-if="$root.WPF.viewLevelList && $root.WPF.viewLevelSU")
    .level-marker-list(ng-if="$root.WPF.viewLevelSU && item")
        .wrapper__level-empty(ng-if="emptyLevel")
            img(ng-src=require("./images/no-data.svg"))
            p {{::'LEVELS.notLevels' | translate}}
        .wrapper__level-actual(ng-if="!emptyLevel")
            c-loader-wrap(value="item")
                .section__level-nextLevel.animated.pulse
                    .col-xs-3.not-padding
                        img.img-actual-level(ng-src="{{level.image || defaultLevelImage}}")
                        p.name-actual-level {{level.name}}
                    .col-xs-9(ng-if="level.nextId == null")
                        p.last-level {{ 'LEVELS.lastLevelMsg' | translate }} {{customer.username}} !
                    .next-level__wrapper.col-xs-9.not-padding(ng-if="level.nextId != null")
                        .level-separator
                        .col-xs-4.not-padding
                            img.img-next-level(ng-src="{{nextLevel.image || defaultNextLevelImage}}")
                        .col-xs-8.not-padding.wrapper-next-level
                            p.title-next-level {{ 'LEVELS.nextLevel' | translate }}:
                            p.name-next-level {{nextLevel.name}}
                .section__progressbar.animated.bounceIn
                    .progressbar-actual(style="width:{{percentValue}}%" ng-class="{'level-complete': level.nextId == null}")
                        .score-bar.center(ng-if="level.nextId") {{customer.scores[ level.scoreUnitId ] | numberFilter }} / {{nextLevel.minimum | numberFilter }} {{levelActualName.name}}
                        .score-bar.center(ng-if="level.nextId == null ") {{customer.scores[ level.scoreUnitId ] | numberFilter }} {{levelActualName.name}}
                .section__levels-timeline.animated.pulse
                    section.comments(ng-repeat="levels in LevelsIndex track by $index" ng-class="{first:$first}")
                        .col-xs-2
                            div(ng-if="level.id == levels.id")
                                .circle
                                    svg(version='1.1', viewbox='0 0 500 500', preserveaspectratio='xMinYMin meet')
                                        circle(cx='250', cy='250', r='200')
                            div
                                img.line-img(ng-src="{{levels.image || defaultLineLevel}}" ng-class="{ 'current-level': level.id == level.id, 'next-level': levels.minimum > level.minimum }")
                        .col-xs-10
                            span.level-name(ng-class="{ 'next-level-name': scope.level.id != scope.level.id }")  {{levels.name}}
                            span.score {{levels.minimum}} {{levelActualName.name}}
