//////////////////--------STYLES---------//////////////////////
@import "fonticons";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.center{
  text-align: center;
}

#ht-widget {
  background: white;
  position:fixed;
  right:15px;
  bottom:15px;
  box-shadow: 0 0 5px #000;
  z-index:9999999999;
}

.ht-form__group.ht-form__group-link {
  margin: -25px 0 8px 0;
}

#ht-widgets {
  padding: 15px 10px 15px 10px;
  display: none;
  min-width: 300px;
  max-width: 340px;
  min-height: 300px;
}