//////////////////--------STYLES---------//////////////////////
.center{
  text-align: center;
}
#ht-widget {
  min-width: 300px;
  max-width: 340px;
  min-height: 340px;
  max-height: 490px;
  background: white;
  position:fixed;
  right:15px;
  bottom:15px;
  box-shadow: 0 0 5px #000;
  z-index:9999999999;
}
.ht-form__group.ht-form__group-link {
  margin: -25px 0 8px 0;
}
