//////////////////--------FONTS---------//////////////////////
@import "fonticons";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";


//////////////////--------GENERAL STYLES---------//////////////////////
.center{
  text-align: center;
}

.hide{
  display: none;
}

a, a:active, a:focus, a:hover {
  outline: none!important;
}

input::-moz-focus-inner {
  border: 0;
}

//font widget
div#ht-widget {
  font-family: "Helvetica";
}

//////////////////--------WIDGET W&H---------//////////////////////
//TODO Revisar tamaños del widget

#ht-widget {
  background: white;
  position:fixed;
  right:15px;
  bottom:15px;
  box-shadow: 0 0 5px #000;
  z-index:9999999999;
  border-radius: 14px;
}

#ht-widgets {
  //padding: 15px 10px 15px 10px;
  display: none;
  min-width: 400px;
  max-width: 400px;
  min-height: 300px;
  max-height: 700px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

//////////////////--------HT FORM---------//////////////////////

.ht-form__group.ht-form__group-link {
  margin: -25px 0 8px 0;
}

form.ht-form--login, .ht-form--reset, .ht-form--register, .ht-form--activate, .ht-form--update {
  padding: 2em 1em 2em 1em;
}

input.ht-form__input {
  box-shadow: none!important;
  border-bottom: 1px solid #aeaeff!important;
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
}

.ht-form--button__login, .ht-form--button__update, .ht-form--button__register, .ht-form--button__reset, .ht-form--button__activationMail {
  width:115px;
  height:30px;
  font-size: 13pt;
  padding: 0 0 2px 0;
  border-radius: 5px;
  font-weight:bold;
}

.ht-form__group-link {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.ht-form__group.password {
  margin-bottom: 10px!important;
}

label.checkbox_terms {
  font-size: 14px;
  position: relative;
  top: -1px;
  a {
    color: black;
    letter-spacing: 0.2px;
  }
}

/* form starting stylings ------------------------------- */
.ht-form__group 			  {
  position:relative;
  margin-bottom:25px;
}

.ht-form__input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.ht-form__input:focus { outline:none; }

/* LABEL ======================================= */
.ht-form__label				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.link-to-reset, .link-to-activate   {
  color: #3bb2d0;
  cursor: pointer;
}

/* active state */
.ht-form__input:focus ~ .ht-form__label, .ht-form__input:valid ~ .ht-form__label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.ht-form__bar {
  position:relative;
  display:block;
  width:100%;
}

.ht-form__bar:before, .ht-form__bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.ht-form__bar:before {
  left:50%;
}

.ht-form__bar:after {
  right:50%;
}

.ht-form__group-button {
  width: 100%;
  text-align: center;
}

/* active state */
.ht-form__input:focus ~ .ht-form__bar:before, .ht-form__input:focus ~ .ht-form__bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.ht-form__input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

//////////////////--------HT VALDR---------//////////////////////
.valdr-message {
  color: red;
  margin: 10px 0px 10px 0px;
  font-size: 14px;
}