c-button-menu {
  width: 23px;
  position: absolute;
  left: 11px;
  top: 10PX;
  z-index: 9999999999999;

  ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  li a {
    padding: 14px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
    cursor: pointer;
  }
  li a:hover,
  li a:focus {
    background-color: rgba(0, 101, 145, 0.69);
    color: #fff;
  }

  #menu {
    position: relative;
    color: #999;
    width: 380px;
    height: 333px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    display: none;
    left: 0px;
    top: 8px;
  }
  //#menu:after {
  //  position: absolute;
  //  top: -16px;
  //  left: 10px;
  //  content: "";
  //  display: block;
  //  border-left: 15px solid transparent;
  //  border-right: 15px solid transparent;
  //  border-bottom: 20px solid white;
  //}

  .nav-icon {
    width: 23px;
    height: 23px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .nav-icon span:nth-child(1) {
    top: 0px;
  }

  .nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
    top: 8px;
  }

  .nav-icon span:nth-child(4) {
    top: 16px;
  }



  #button-menu #menu {
    display: none;
  }

  #button-menu.open-menu {

    #menu {
      display: block;
    }

    .nav-icon span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    .nav-icon span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .nav-icon span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .nav-icon span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

  }
}
