@import "../../../../../common/stylesheets/common/base";
@import "../../../../../common/stylesheets/common/mixins";
@import "../../../../../common/stylesheets/common/colors";

%commonStyles {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

c-button-menu {
  font-family: $base-font-family;
  width: 23px;
  position: absolute;
  left: 7px;
  top: 9PX;
  z-index: 9999999999999;
  height: 23px;
  #ht-menu__btn {
    .ht-menu_nav {
      width: 17px;
      height: 13px;
      position: relative;
      margin: 0 auto;
      @include transform(rotate(0deg));
      @include transition(.5s ease-in-out);
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: $white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);

        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3){
          top: 5px;
        }
        &:nth-child(4) {
          top: 11px;
        }
      }
    }
  }

  #ht-menu {
    position: relative;
    width: 400px;
    height: 481px;
    margin: auto;
    font-family: $base-font-family;
    font-size: 12pt;
    background: rgba(0,0,0,.32);
    display: none;
    left: -8px;
    top: -23px;
    border-radius: 10px;
    display: none;
    ul.ht-menu_main {
      @extend %commonStyles;
      padding-top: 10px;
      background: white;
      width:240px;
      height: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 1px solid $_1_color-border-bottom;
      .ht-menu__item-menu {
        //padding-left:0!important;
        //padding-right:0!important;

          &:hover{
            background-color: white!important;
            a {
              //border-bottom: 2px solid rgb(38, 101, 146)!important;
              color: $_1_color-item-menu;
              border-bottom: 1px solid $_1_color-border-bottom;
            }
          }
          a {
            border-bottom: 1px solid $_1_color-border-bottom;
            //border-bottom: 2px solid rgb(38, 101, 146)!important;
            color: $_1_color-item-menu;
            font-weight: bold;
            cursor: default;
            border-right: none!important;
            border-left: none!important;
            //padding-left: 20px;
          }
      }
      li {
        padding-right: 20px;
        padding-left: 20px;
        @extend %commonStyles;
        &:hover {
          background-color: #00caff;
          a {
              ///border-bottom: none!important;
              color: white;
              border-bottom:none!important;
              font-weight: bold;
          }
          a.ht-menu__item-logout{
            color: red;
            font-weight: 200;
          }
        }
        .ht-menu__item-logout {
          font-weight: 600;
        }
        .ht-menu__item-ranking {
          cursor: default;
        }
        a {
          border-bottom: 1px solid $_1_color-border-bottom;
          @extend %commonStyles;
          padding: 8px 0px;
          color: $_1_color-item-close-session;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    ul.ranking-menu {
      padding-left: 20px;
      font-size: 11.5pt;
      li:last-child {
        border-bottom:none!important;
      }
    }
  }
}
