@import "../../../../../common/stylesheets/common/base";
@import "../../../../../common/stylesheets/common/mixins";

%commonStyles {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

c-button-menu {
  font-family: $base-font-family;
  width: 23px;
  position: absolute;
  left: 7px;
  top: 9PX;
  z-index: 9999999999999;
  height: 23px;
  #button-menu {
    .nav-icon {
      width: 17px;
      height: 13px;
      position: relative;
      margin: 0 auto;
      @include transform(rotate(0deg));
      @include transition(.5s ease-in-out);
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        @include transform(rotate(0deg));
        @include transition(.25s ease-in-out);

        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3){
          top: 5px;
        }
        &:nth-child(4) {
          top: 11px;
        }
      }
    }
  }

  #menu {
    position: relative;
    color: #999;
    width: 400px;
    height: 481px;
    margin: auto;
    font-family: $base-font-family;
    font-size: 12pt;
    background: rgba(0,0,0,.32);
    display: none;
    left: -8px;
    top: -23px;
    border-radius: 10px;
    display: none;
    ul.main-menu {
      @extend %commonStyles;
      background: white;
      width:240px;
      padding: 10px 25px;
      height: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-right: 1px solid #d0d0d0;
      li {
        @extend %commonStyles;
        border-bottom: 1px solid #bdbdbd;
        &:hover {
          border-bottom: 2px solid grey;
        }
        .item-menu__logout {
          font-weight: 600;
        }
        .item-menu__ranking {
          cursor: default;
        }
        a {
          @extend %commonStyles;
          padding: 14px 14px 8px 0px;
          color: #888;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    ul.ranking-menu {
      padding-left: 20px;
      font-size: 11.5pt;
      li:last-child {
        border-bottom:none!important;
      }
    }
  }
}
