div#button-menu
    div.nav-icon(id="toggle" ng-click="toggleDropdown()")
        span
        span
        span
        span
    div#menu
        ul
            li(ng-repeat="item in value" ng-click="hideMenu()")
                a(ng-click="$root.setCurrentView(item.view); $root.selectItem=true;", translate="{{ item.title }}")
            li
                a(ng-if="!logout" ng-click="formLogout()")
                    | {{ 'CUSTOMER.common.logout' | translate }}



