div#button-menu
    div.nav-icon(id="toggle" ng-click="toggleDropdown()")
        span
        span
        span
        span
div#menu
    ul.main-menu
        li.animated.slideInLeft(ng-if="showQuests" ng-click="$root.WPFviewQuests = !$root.WPFviewQuests")
            a {{ 'QUESTS.title' | translate }}
        li.animated.slideInLeft(ng-if="showBadges" ng-click="$root.WPFviewBadges = !$root.WPFviewBadges")
            a {{ 'BADGES.title' | translate }}
        li.animated.slideInLeft(ng-if="showRankings")
            a.item-menu__ranking {{ 'RANKING.titleList' | translate }}
            ul.ranking-menu
                li.animated.slideInLeft(ng-repeat="su in $root.customer.scoreUnits" ng-click="$root.WPFviewRanking = !$root.WPFviewRanking")
                    a {{ su.name }}
        li.animated.slideInLeft(ng-if="showLevel")
            a {{ 'LEVELS.title' | translate }}
        li.animated.slideInLeft(ng-if="showGlobalFeed")
            a {{ 'GLOBAL_FEED.title' | translate }}
        li.animated.slideInLeft(ng-if="showMarketplace")
            a {{ 'MARKETPLACE.title' | translate }}
        li.animated.slideInLeft(ng-if="showGameRoom" ng-click="$root.WPFviewGameRoom = !$root.WPFviewGameRoom")
            a {{titleGameRoom}}
        li.animated.slideInLeft(ng-if="showEditProfile" ng-click="$root.WPFviewEditProfile = !$root.WPFviewEditProfile")
            a {{ 'CUSTOMER.update.title' | translate }}
        li.animated.slideInLeft(ng-if="!logout")
            a.menu-logout(ng-click="formLogout()") {{ 'CUSTOMER.common.logout' | translate }}







