div#button-menu
    div.nav-icon(id="toggle" ng-click="toggleDropdown()")
        span
        span
        span
        span
div#menu
    ul
        li.animated.slideInLeft(ng-repeat="item in value" ng-click="changeView(item.routerName, item.view)")
            code {{item}}
            p(ng-click="", translate="{{ item.title }}")
        li.animated.slideInLeft
            a.menu-logout(ng-if="!logout" ng-click="formLogout()")
                | {{ 'CUSTOMER.common.logout' | translate }}