div#ht-menu__btn
    div.ht-menu_nav(id="toggle" ng-click="toggleDropdown()")
        span
        span
        span
        span
div#ht-menu
    ul.ht-menu_main
        li.animated.slideInLeft(ng-if="showQuests" ng-click="$root.WPF.viewQuests = !$root.WPF.viewQuests")
            a {{ 'QUESTS.title' | translate }}
        li.animated.slideInLeft(ng-if="showBadges" ng-click="$root.WPF.viewBadges = !$root.WPF.viewBadges")
            a {{ 'BADGES.title' | translate }}
        li.animated.slideInLeft(ng-if="showRankings")
            a.ht-menu__item-ranking {{ 'RANKING.titleList' | translate }}
            ul.ranking-menu
                li.animated.slideInLeft(ng-repeat="su in item.levels" ng-click="$root.WPF.viewRanking = !$root.WPF.viewRanking")
                    a {{ su.name }}
        li.animated.slideInLeft(ng-if="showLevel")
            a {{ 'LEVELS.title' | translate }}
        li.animated.slideInLeft(ng-if="showGlobalFeed")
            a {{ 'GLOBAL_FEED.title' | translate }}
        li.animated.slideInLeft(ng-if="showMarketplace")
            a {{ 'MARKETPLACE.title' | translate }}
        li.animated.slideInLeft(ng-if="showGameRoom" ng-click="$root.WPF.viewGameRoom = !$root.WPF.viewGameRoom")
            a {{titleGameRoom}}
        li.animated.slideInLeft(ng-if="showEditProfile" ng-click="$root.WPF.viewEditProfile = !$root.WPF.viewEditProfile")
            a {{ 'CUSTOMER.update.title' | translate }}
        li.animated.slideInLeft(ng-if="!logout")
            a.ht-menu__item-logout(ng-click="formLogout()") {{ 'CUSTOMER.common.logout' | translate }}







