div#button-menu
    div.nav-icon(id="toggle" ng-click="toggleDropdown()")
        span
        span
        span
        span
div#menu
    ul
        li.animated.slideInLeft
            p(translate="{{ item.title }}" ng-click="changeView(item.view)")
            code {{item.view}}
        li.animated.slideInLeft
            a.menu-logout(ng-if="!logout" ng-click="formLogout()")
                | {{ 'CUSTOMER.common.logout' | translate }}







