c-game-global-feed {
  display: block;
  position: relative;
  height: 100%;

  .wrapper-feed {
    display: -webkit-box;
    display: box;
    padding:6px;
    border-bottom: 1px solid #c5c5c5;
  }

  .ht-global-feed__date > p {
    font-weight: 200;
    color: grey;
  }

  .ht-global-feed__title {
    color: grey;
  }

  .ht-global-feed__img {
    padding: 7px;
  }

  .ht-global-feed__title > p {
    font-size: 10pt;
    margin-left: 13px;
    padding: 11px 0px 0px 0px;
  }

  .ht-global-feed__date > p {
    font-size: 8pt;
    position: absolute;
    top: -2px;
    right: -7px;
  }
}