@import '../../../../common/stylesheets/common/colors.scss';

c-game-global-feed {
  display: block;
  position: relative;
  height: 100%;
  margin-left: 10px;
  .ht-global-feed__container{
    position: relative;
    right: 0;
    height: 432px;
    overflow-y: auto;
    overflow-x: hidden;
    .ht-global-feed__wrapper {
      display: -webkit-box;
      display: box;
      padding:6px;
      border-bottom: 1px solid $_1_dividing-line-color;
      height:60px;
      &.last{
        border-bottom: none!important;
      }
      .ht-global-feed__title {
        color: grey;
        > p {
          font-size: 10pt;
          margin-left: 13px;
          padding: 8px 0px 0px 0px;
        }
      }
      .ht-global-feed__img {
        padding: 7px!important;
        position: relative;
        bottom: 6px;
        img {
          width: 43px;
          height: 43px;
          min-width: 43px;
          min-height: 43px;
          max-width: 43px;
          max-height: 43px;
          margin-left: 5px;
        }
      }
      .ht-global-feed__date > p {
        font-size: 7pt;
        position: absolute;
        top: -2px;
        right: -6px;
        white-space: nowrap;
        font-weight: 200;
        color: grey;
      }
    }
  }
}