c-ranking-total {
  overflow: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 15px 10px;

  .col-xs-5.widget--ranking-total__img img {
    height: 35px;
  }

  .widget--ranking-total__wrapper.col-xs-12 {
    margin-bottom: 10px;
    border-bottom: 1px solid #c3c3c3;
    cursor: pointer;
  }
}