.widget--ranking-total
    .widget--ranking-total__wrapper.col-xs-12(ng-repeat="r in rankings | orderBy:'-typeRanking'")
        .col-xs-5.widget--ranking-total__img
            img(ng-src="{{r.img}}")
        .col-xs-5.widget--ranking-total__desc
            p {{r.desc}}
