.widget--ranking__score-units
    .widget--ranking__score-units__wrapper(ng-repeat="r in rankings | orderBy:'-name'")
        .col-xs-2 Pos.
            p {{item.position}}
        .col-xs-5 Username
            p {{item.username}}
        .col-xs-5 Scores
            p {{item.score}}