.ht-wrapper--login__form
	c-button-close
	form.ht-form.ht-form--login(name="htFormLogin" ng-show='!$root.goResetForm')
		.ht-form__group
			input.ht-form__input.htFormLogin-email(ng-model='email' type='email' name="email" required)
			span.ht-form__highlight
			span.ht-form__bar
			label.ht-form__label {{ 'CUSTOMER.common.email' | translate }}
		.ht-form__group
			input.ht-form__input.htFormLogin-pass(ng-model='password' type='password' name="password" required)
			span.ht-form__highlight
			span.ht-form__bar
			label.ht-form__label {{ 'CUSTOMER.common.password' | translate }}
		.ht-form__group
			input(ng-model="rememberMe" type='checkbox' name="rememberMe" id="rememberMe")
			label.ht-form__input-rememberMe(for="rememberMe") {{ 'CUSTOMER.login.rememberMe' | translate }}
		.ht-form__group-button
				button.animated.bounceInUp.ht-form--button__login(type='submit' ng-click="login(widget)" ng-disabled="htFormLogin.$invalid")
					| {{ 'CUSTOMER.login.button' | translate }}
		//TODO descomentar
		//.ht-form__group-link
		//	span.link-to-reset(ng-click='$root.goResetForm = true;') {{ 'CUSTOMER.reset.title' | translate }}