div.ht-profile__wrapper
    div.profile-item
        div.profile-item__wrapper
            img.profile-item__img(src="http://www.busquefotografo.com.br/images/fallback/avatar/thumb_default.png")
        div.profile-item__name Fernando Garcia
        div.profile-item__username sativonz
        div.profile-item__email fgarcia@hooptap.com
            span.profile-item__email--verified-wrapper
                img.profile-item__email--verified(src="http://www.iconsdb.com/icons/preview/green/checked-checkbox-xxl.png")




