.widget-notifications__list
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="http://a.dryicons.com/images/icon_sets/minimalistica_red_part_2_icons/png/128x128/checked.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="http://a.dryicons.com/images/icon_sets/minimalistica_red_part_2_icons/png/128x128/checked.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="http://a.dryicons.com/images/icon_sets/minimalistica_red_part_2_icons/png/128x128/checked.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")
	.row-notifications-list
		.col-xs-10
			p Listado
		.col-xs-2
			img(src="https://cdn4.iconfinder.com/data/icons/checkboxes-and-switches/100/checkbox-round-checked-green-128.png")


