.widget-customer-access-mini(ng-if="!$root.customer.logged && $root.widgetOpened")
    c-button-close
    //->Mix form
    .wrapper--nav_form(ng-if="showMixForm")
        uib-tabset(active="0")
            uib-tab.link-go-login--form(index="0" heading="{{::'CUSTOMER.common.login' | translate}}")
                c-customer-login
                //TODO descomentar
                //c-customer-reset
            uib-tab.link-go-register--form(index="1" heading="{{::'CUSTOMER.common.register' | translate}}" )
                c-customer-register
                //TODO descomentar
                //c-customer-activate
    //->Login form
    c-widget-header(title="{{ 'CUSTOMER.common.login' | translate }}" ng-if="showLoginForm")
    c-customer-login(ng-if="showLoginForm")
    //TODO descomentar
    //c-customer-reset(ng-if="showLoginForm")

    //->Register form
    c-widget-header(title="{{ 'CUSTOMER.common.register' | translate }}" ng-if="showRegisterForm")
    c-customer-register(ng-if="showRegisterForm")
    //TODO descomentar
    //c-customer-activate(ng-if="showRegisterForm")





