.tabs--holder{
  height: 28px;
  .tab--one,
  .tab--two{
	text-align: center;
	width: 49%;
	float: left;
	font-size:12px;
	line-height: 25px;
	cursor: pointer;
	@include transition(all 0.2s ease-in);
	&:hover{
	  opacity: 0.8;
	}
	&.active{
	  border-bottom:2px solid #60646C;
	  font-weight: bold;
	}
  }
}