c-game-room {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  .ht-game-room__item {
    background: url('http://hooptap.s3.amazonaws.com/widgets/icono-default.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 170px;
    height: 170px;
    display: inline-block;

  }

  .ht-game-room__container {
    height: 100%;
    padding: 7px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ht-game-room__item p.desc {
    text-align: center;
    font-size: 11pt;
    color: white;
  }

  .ht-game-room__item p.title {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: white;
  }

  .ht-col-2 .ht-game-room__item p.title {
    margin-top: 50px;
  }

  .ht-col-3 .ht-game-room__item p.title {
    font-size: 12pt;
    margin-top: 32px;
  }

  .ht-col-3 .ht-game-room__item p.desc {
    font-size: 10pt;
  }
  .ht-col-4 .ht-game-room__item p.title {
    font-size: 11pt;
    margin-top: 22px;
  }

  .ht-col-4 .ht-game-room__item p.desc {
    font-size: 9pt;
    margin-top: -7px;
  }

  .ht-col-5 .ht-game-room__item p.title {
    font-size: 9pt;
    margin-top: 17px;
  }

  .ht-col-5 .ht-game-room__item p.desc {
    font-size: 8pt;
    margin-top: -9px;
  }


  .ht-game-room__item:hover {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
  }

  .ht-game-room__wraper.not-padding {
    margin: 7px;
    width: 170px;
    height: 170px;
  }


//-> For 3 columns
  .ht-game-room__wraper.not-padding.ng-scope.ht-col-3 > .ht-game-room__item {
    width: 112px;
    height: 112px;
  }
  .ht-game-room__wraper.not-padding.ng-scope.ht-col-3 {
    width: 112px;
    height: 112px;
  }


//-> For 4 columns
  .ht-game-room__wraper.not-padding.ng-scope.ht-col-4 > .ht-game-room__item {
    width: 80px;
    height: 80px;
  }
  .ht-game-room__wraper.not-padding.ng-scope.ht-col-4 {
    width: 80px;
    height: 80px;
  }


//-> For 5 columns
  .ht-game-room__wraper.not-padding.ng-scope.ht-col-5 > .ht-game-room__item {
    width: 63px;
    height: 63px;
  }
  .ht-game-room__wraper.not-padding.ng-scope.ht-col-5 {
    width: 63px;
    height: 63px;
  }
}