c-quests-list{
  .quest--list__wrapper {
    padding: 15px;
  }

  .quest--row {
    background: #fff;
    cursor: pointer;
    box-shadow: 1px 4px 4px 3px rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 15px 5px 18px;
    margin-bottom: 15px;
  }

  .actual-step--num {
    font-size: 12px;
    font-weight: 800;
    color: #90a4ae;
  }

  .quest--row--actual-step {
    font-size: 12px;
  }

  .actual-step--name {
    font-size: 12px;
    margin-top: 4px;
  }

  .quest--row--title {
    font-weight:400;
  }

  .quest--row--desc {
    font-size: 12px;
    max-width: 220px;
  }

  .quest--row--status-label {
    font-size: 9px;
    padding: 0px 7px 1px 7px;
    color: #fff;
    position: absolute;
    left: 35px;
    top: 67px;
    border-radius: 4px;
    font-weight: 800;
  }
  .bg-yellow {
    background: #FBCB32;
  }

  .quest--row--actual-step {
    font-size: 12px;
    padding: 15px 15px 0px 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.27);
    margin-top: 15px;
    width: 81%;
  }

}