c-quests-list{
  .quest--row {
    padding: 5px 5px 18px;
  }

  .quest-step {
    font-size: 12px;
    font-weight: 800;
    color: #90a4ae;
  }

  .quest--row__actual-step {
    font-size: 12px;
  }

  .quest--row__title {
    font-weight: bold;
    font-size: 13pt;
    position: absolute;
    top: 8px;
  }

  .quest--row__desc {
    font-size: 12px;
    max-width: 220px;
  }

  .quest--row__image-holder {
    width: 50px;
    height: 50px;
    padding-left: 0;
  }

  .quest-row-image {
    background: BLUE;
    HEIGHT: 50px;
    width: 50px;
    border-radius: 7px;
  }

  .quest-row-image__number-quests {
    text-align: center;
    width: 50px;
    top: 8px;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: white;
  }

  .quest--row__status-label {
    font-size: 9px;
    padding: 0px 7px 1px 7px;
    color: #fff;
    position: absolute;
    left: 35px;
    top: 67px;
    border-radius: 4px;
    font-weight: 800;
  }

  .quest--row__progresbar {
    width: 340px;
    display: block;
    position: absolute;
    top: 43px;
    left: 0px;
  }

  .quest--row__date {
    font-size: 9pt;
    position: absolute;
    right: -14px;
    top: 0;
    color: #888888;
  }

  .bg-yellow {
    background: #FBCB32;
  }

  .quest--row__actual-step {
    font-size: 12px;
    padding: 15px 15px 0px 15px;
    margin-top: 5px;
    width: 81%;
  }

  .limit-quests {
    border-bottom: 1px solid rgba(180, 180, 180, 0.75);
    margin-top: 16px;
    margin-bottom: -16px;
    border-left: 100px solid white;
    border-right: 100px solid white;
  }

}