c-quests-list{
  .quest--row {
    padding: 15px 5px 18px;
  }

  .actual-step--num {
    font-size: 12px;
    font-weight: 800;
    color: #90a4ae;
  }

  .quest--row--actual-step {
    font-size: 12px;
  }

  .actual-step--name {
    font-size: 12px;
    margin-top: 4px;
  }

  .quest--row--title {
    font-weight:400;
    font-size:14pt;
  }

  .quest--row--desc {
    font-size: 12px;
    max-width: 220px;
  }

  .quest--row--image-holder {
    width: 50px;
    height: 50px;
    padding-left: 0;
  }

  .quest-row-image {
    background: BLUE;
    HEIGHT: 50px;
    width: 50px;
    border-radius: 7px;
  }

  .quest-row-image__number-quests {
    text-align: center;
    width: 50px;
    top: 8px;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: white;
  }

  .quest--row--status-label {
    font-size: 9px;
    padding: 0px 7px 1px 7px;
    color: #fff;
    position: absolute;
    left: 35px;
    top: 67px;
    border-radius: 4px;
    font-weight: 800;
  }

  .quest--row--progresbar {
    width: 340px;
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
  }

  .bg-yellow {
    background: #FBCB32;
  }

  .quest--row--actual-step {
    font-size: 12px;
    padding: 15px 15px 0px 15px;
    margin-top: 10px;
    width: 81%;
  }

  .limit-quests {
    border-bottom: 1px solid #b4b4b4;
    margin-top: 16px;
    margin-bottom: -16px;
  }

}