div.button--init__container(ng-show="!$root.widgetOpened")
    span.button--init__wrapper-icon
        img.button--init__icon(ng-src="{{ customer.image || image }}" ng-class="{ rounded : 'customer.image' }")
    span.button--init__text {{customer.name  || text }}
