script(src='../../common/scripts/script-form-md.js')
.ht-wrapper--login__form
	c-button-close
	form.form.ht-form.ht-form--login
		.group
			input(type='text')
			span.highlight
			span.bar
			label Nombre
		.group
			input(type='password')
			span.highlight
			span.bar
			label Contraseña
		button.button-login-form(type='button')
			| Login
			.ripples.buttonRipples
