@import '../../../../common/stylesheets/common/base.scss';
@import '../../../../common/stylesheets/common/colors.scss';

c-ranking-list {
  .ht-ranking-list {
    overflow-y: auto;
    height: 435px;
    width: 400px;
    overflow-x: hidden;
    font-family: $base-font-family;
    .ht-ranking-list__container {
      overflow-x: hidden;
      .ht-ranking-list__wrapper {
        display: -webkit-box;
        display: box;
        border-bottom: 1px solid $_1_line-space-color;
        padding-left: 15px;
        padding-right: 15px;
        height: 70px;
        .ht-ranking-list__user-img {
          padding: 5px;
          > img {
            border: 3px solid $_1_header-color;
            border-radius: 50%;
            width: 50px;
            height: 50px;
          }
          .ht-ranking-list__position {
            font-size: 10pt;
            font-weight: bold;
            color: $white !important;
            height: 20px;
            background: $_1_header-color;
            padding: 2px 5px 5px 5px;
            border-radius: 5px;
            position: absolute;
            top: 40px;
            left: 40px;
            letter-spacing: 0.3px;
          }
        }
        .ht-ranking-list__username {
          padding: 15px 0px 0px 5px;
          > p {
            font-size: 10pt;
            color: $_1_header-color;
          }
        }
        .ht-ranking-list__wrapper-score {
          padding: 19px 0px 0px 0px;
          .ht-ranking-list__score-frame {
            width: 100%;
            .ht-ranking-list__score-frame__img {
              float: right;
              width: 20px;
              height: 20px;
              max-width: 20px;
              max-height: 20px;
              min-width: 20px;
              min-height: 20px;
              position: relative;
              top: -2.5px;
              margin-left: 6px;
            }
            .ht-ranking-list__score-frame__mark {
              float: right;
              padding: 6px;
              font-weight: 700;
              color: $white;
              font-size: 18px;
              border-radius: 5px;
              top: -2px;
              position: relative;
              background: $_1_ranking-box-score;
              letter-spacing: .5px;
            }
          }
        }
        &.current-customer {
          background: $_1_mePosition-back;
          .ht-ranking-list__score-frame__mark {
            background-color: $_1_mePosition-score-back !important;
          }
        }

      }
    }
  }
}
