@import '../../../../common/stylesheets/common/base.scss';
@import '../../../../common/stylesheets/common/colors.scss';

c-ranking-list{
  position: relative;
  display: block;
  height: 100%;
  .ht-ranking-list  {
    overflow: auto;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: $base-font-family;
    .ht-ranking-list__container {
      .ht-ranking-list__wrapper {
        display: -webkit-box;
        display: box;
        border-bottom: 1px solid $_1_line-space-color;
        padding-left: 15px;
        padding-right: 15px;
        height: 70px;
        &.mePosition {
          background: $_1_mePosition-back;
          margin-left: 0;
          margin-right: 0;
          padding: 0px 15px 0px 16px;
          position: absolute;
          border-bottom: none;
          top: 0;
          left: 0;
          right: 0;
          .ht-ranking-list__score-frame {
            background-color: $_1_mePosition-score-back!important;
          }
        }
        &:first-child {
          //margin-top: 70px;
        }
        .ht-ranking-list__user-img{
          padding:5px;
          > img {
            border: 3px solid $_1_header-color;
            border-radius: 50%;
            width: 50px;
            height:50px;
          }
          .ht-ranking-list__position{
            padding-top: 20px;
            font-size: 10pt;
            font-weight: bold;
            color: $white!important;
            height: 20px;
            background: $_1_header-color;
            padding: 4px 5px 5px 5px;
            border-radius: 5px;
            position: absolute;
            top: 40px;
            left: 40px;
            letter-spacing: 0.3px;
          }
        }
        .ht-ranking-list__username {
          padding: 15px 0px 0px 5px;
          > p {
            font-size: 10pt;
            color: $_1_header-color;
          }
        }
        .ht-ranking-list__wrapper-score {
          padding: 19px 0px 0px 0px;
          .ht-ranking-list__score-frame {
            height: 21px;
            background: $_1_ranking-box-score;
            border-radius: 5px;
            padding: 3px 3px 3px 7px;
            float: right;
            width: 100%;
            .ht-ranking-list__score-frame__img {
              float: right;
              height: 100%;
            }
            .ht-ranking-list__score-frame__mark {
              float: right;
              padding: 0px 4px 2px 2px;
              font-weight: bold;
              color: white;
              letter-spacing: 0.2px;
              font-size: 11pt;
              top: -1px;
              position: relative;
            }
          }
        }
      }
    }
  }
}