c-widget-header(title="{{ 'RANKING.titleList' | translate }}" ng-if="$root.showMainHeader")
.widget--ranking-list(type="{{rankingType}}")
    .widget--ranking-list__wrapper(ng-repeat="item in {{rankingType}}")
        p {{item}}
        //.col-xs-2 Pos.
        //    p {{item.position}}
        //    //TODO ng-click esta mal, por hacer el handler view
        //.col-xs-5(ng-click="$root.changeView('profile-simple', item)") Username
        //    p {{item.username}}
        //.col-xs-5 Scores
        //    p {{item.score}}

















        //orderBy:'-score'