.widget--container__header(data-actualView="menuView")

	.icon.icon--close.close-widget-js
		| <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path d="M6.4,5l3.3-3.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L5,3.6L1.7,0.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L3.6,5L0.3,8.3 c-0.4,0.4-0.4,1,0,1.4C0.5,9.9,0.7,10,1,10s0.5-0.1,0.7-0.3L5,6.4l3.3,3.3C8.5,9.9,8.7,10,9,10s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L6.4,5z"></path></svg>
	.icon.icon--maximize.maximize-widget-js
		| <svg width="11" height="11" viewBox="0 0 11 11" xmlns="http://www.w3.org/2000/svg"><path d="M0.424115207,10.8657414 C0.493946833,10.9099587 0.570429818,10.9423761 0.652027119,10.9611359 C0.755013001,10.9887005 0.865653469,11 0.9899495,11 C1.06934777,11 1.14596001,10.9930839 1.21900412,10.979899 L10.1808511,10.979899 C10.4148936,10.979899 10.5904255,10.9091883 10.7659575,10.6970563 C10.9414893,10.4849242 11,10.2727922 11,9.98994949 C11,9.42426407 10.6489361,9 10.1808511,9 L1.97989899,9 L1.97989899,0.819148936 C1.97989899,0.35106383 1.55563492,-3.91847762e-16 0.9899495,-4.03895376e-16 C0.42426407,-5.99677215e-16 8.8817842e-16,0.35106383 6.66133815e-16,0.819148936 L-8.8817842e-16,10.1808511 C-1.11022302e-15,10.4148936 0.07071068,10.5904255 0.28284272,10.7659575 C0.329679852,10.8047136 0.376516983,10.837765 0.424115207,10.8657414 Z M10.9,0.6 C10.8,0.4 10.6,0.2 10.4,0.1 C10.3,-2.22044605e-16 10.1,-2.22044605e-16 10,-2.22044605e-16 L5,-2.22044605e-16 C4.4,-2.22044605e-16 4,0.4 4,1 C4,1.6 4.4,2 5,2 L7.6,2 L3.3,6.3 C2.9,6.7 2.9,7.3 3.3,7.7 C3.5,7.9 3.7,8 4,8 C4.3,8 4.5,7.9 4.7,7.7 L9,3.4 L9,6 C9,6.6 9.4,7 10,7 C10.6,7 11,6.6 11,6 L11,1 C11,0.9 11,0.7 10.9,0.6 Z"></path></svg>

	.widget--container__title
		.widget--container__title--text

.widget--container__content
	ul.widget-menu--list
		li(data-view="profileView") Profile
		li(data-view="questView") Quests
		li(data-view="rankingView") Ranking
.widget--container__footer
	| Running on
	a(href='http://www.hooptap.com', target='_blank') Hooptap
