div.ht-profile--simple(ng-switch="$root.view")
    div.profile--simple__container(ng-switch-when="1")
        div.profile--simple-item__wrapper
            img.profile--simple-item__img(ng-src="{{image}}")
        div.profile--simple-item__name {{name}}
        div.profile--simple-item__username {{username}}
        div.progess
        div.col-xs-4
            div.profile--simple-item__score-units
                a(ng-click="$root.viewHandler('2')") Score units
        div.col-xs-4
            div.profile--simple-item__badges
                p(ng-click="$root.viewHandler('3')") Badges
        div.col-xs-4
            div.profile--simple-item__levels
                p(ng-click="$root.viewHandler('4')") Levels
    div.profile--simple__container__ranking(ng-switch-when="2")
        c-button-back
        c-ranking-simple
    div.profile--simple__container__badges(ng-switch-when="3")
        c-button-back
        c-badges-list
    div.profile--simple__container__levels(ng-switch-when="4")
        c-button-back
        c-level-actual(image="https://wednesdaynighthop.com/wordpress/wp-content/uploads/2015/03/level-1-icon.png" type="type" dynamic="dynamic")



