@import '../../../../common/stylesheets/common/_base.scss';

c-profile-header {
  display: block;
  position: relative;
  font-family: $base-font-family;
  height: 140px;
  background-color: #006591;
  img.profile-widget-full__edit {
    width: 26px;
    position: absolute;
    top: 100px;
    left: 25px;
    cursor: pointer;
  }

  p.profile-widget-full-title__name,
  p.profile-widget-full-title__email {
    font-size: 11pt;
    color: white;
  }

  p.profile-widget-full-item__name,
  p.profile-widget-full-item__email{
    font-size: 12pt;
    font-weight: 600;
    color: white;
  }

  img.profile-widget-full__logout {
    position: absolute;
    top: 97px;
    width: 18px;
    left: 125px;
    cursor: pointer;
  }

}