@import '../../../../common/stylesheets/common/base.scss';
@import '../../../../common/stylesheets/common/colors.scss';

c-profile-header {
  display: block;
  position: relative;
  font-family: $base-font-family;
  height: 90px;
  background-color: $_1_quest-title;
  .ht-profile-header__container{

    .ht-profile-header__wrapper {

      .wrapper-data {
        margin-top: -10px;
      }

      .ht-profile-header__images {

        &:hover .ht-profile-header__img-upload {
          display: block;
          cursor: pointer;
        }

        .ht-profile-header__profile-photo {
          border-radius: 50%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: inherit;
          padding: 0px;
          position: relative;
          top: -7px;
          left:11px;
          border: 2px solid $white;
          width: 80px;
          height: 80px;
          box-sizing: content-box;
        }

        .ht-profile-header__img-upload {
          display: none;
          border-radius: 50%;
          margin-left: auto;
          margin-right: auto;
          height: inherit;
          padding: 0;
          position: absolute;
          top: -7px;
          border: 2px solid $white;
          width: 80px;
          height: 80px;
          left: 40px;
          opacity: 0.5;
          background: black;
          box-sizing: content-box;
        }


      }
      .ht-profile-header__edit {
        width: 20px;
        position: absolute;
        top: 52px;
        left: 103px;
        cursor: pointer;
      }


      .ht-profile-header__title-name,
      .ht-profile-header__title-email {
        font-size: 11pt;
        color: white;
        font-weight: 200;
      }

      .ht-profile-header__item-name{
        font-size: 11pt;
        font-weight: 400;
        color: white;
        margin: 5px 4px 4px -2px;
      }
      .ht-profile-header__item-email{
        font-size: 11pt;
        font-weight: 400;
        color: white;
        margin-top: -15px 4px 4px -2px;
      }


    }
  }


}