@import '../../../../common/stylesheets/common/base.scss';
@import '../../../../common/stylesheets/common/colors.scss';

c-profile-header {
  display: block;
  position: relative;
  font-family: $base-font-family;
  height: 90px;
  background-color: $_1_quest-title;
  img.profile-widget-full__edit {
    width: 20px;
    position: absolute;
    top: 52px;
    left: 103px;
    cursor: pointer;
  }

  p.profile-widget-full-title__name,
  p.profile-widget-full-title__email {
    font-size: 11pt;
    color: white;
    font-weight:200;
  }

  p.profile-widget-full-item__name,
  p.profile-widget-full-item__email{
    font-size: 12pt;
    font-weight: 400;
    color: white;
  }

  img.profile-widget-full__logout {
    position: absolute;
    top: 102px;
    width: 18px;
    left: 126px;
    cursor: pointer;
  }

  .profile-widget-full-title__name:first-child {
    padding-bottom: 0;
    margin-bottom: 0px;
  }

  .profile-widget-full-item__img-upload {
    display: none;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    padding: 0;
    position: absolute;
    top: -7px;
    border: 2px solid #fff;
    width: 80px;
    height: 80px;
    left: 40px;
    opacity: 0.5;
    background: black;
    box-sizing: content-box;
  }

  .images:hover .profile-widget-full-item__img-upload{
    display: block;
    cursor: pointer;
  }
}