.ht-profile__header(ng-if="$root.logged")
    .ht-profile__header--container.row
        .col-xs-5(ng-if="showImage")
            img.profile-widget-full-item__img(ng-src="http://www.kimberlypearl.co/wp-content/uploads/2015/04/profile-pic-circle.gif")
            img.profile-widget-full__edit(ng-if="editable" ng-src="http://hooptap.s3.amazonaws.com/widgets/edit.svg")
            img.profile-widget-full__logout(ng-src="http://hooptap.s3.amazonaws.com/widgets/logout.svg" ng-click="formLogout()")
        .col-xs-2
            p.profile-widget-full-title__name {{ 'CUSTOMER.common.username' | translate }}:
            p.profile-widget-full-title__email {{ 'CUSTOMER.common.email' | translate }}:
        .col-xs-5.not-padding
            p.profile-widget-full-item__name {{$root.customer.username}}
            p.profile-widget-full-item__email {{$root.customer.email}}