.ht-profile-header__container(ng-if="$root.logged")
    .ht-profile-header__wrapper.row
        .col-xs-4
            .ht-profile-header__images
                img.ht-profile-header__profile-photo(ng-if="$root.customer.image" ng-src="{{$root.customer.image}}")
                img.ht-profile-header__profile-photo(ng-if="!$root.customer.image" ng-src=require("./images/profile-default.svg"))
                //TODO Quitar comentarios
                label(for="file-input")
                   img.ht-profile-header__img-upload(ng-src=require("./images/img-upload.svg") ng-click="uploadImgProfile()")
                input.hide#file-input(type="file")
            img.ht-profile-header__edit(ng-if="editProfile" ng-click="$root.WPFviewEditProfile = !$root.WPFviewEditProfile" ng-src=require("./images/btn-edit-profile.svg"))
        .col-xs-2.not-padding
            p.ht-profile-header__title-name {{ 'CUSTOMER.common.name' | translate }}:
            p.ht-profile-header__title-email {{ 'CUSTOMER.common.email' | translate }}:
        .col-xs-6.not-padding
            p.ht-profile-header__item-name {{$root.customer.username}}
            p.ht-profile-header__item-email {{$root.customer.email}}