.ht-profile__header(ng-if="!$root.logged")
    .ht-profile__header--container.row
        .col-xs-4
            .images
                img.profile-widget-full-item__img(ng-src="https://media.creativemornings.com/uploads/user/avatar/120448/profile-circle.png")
                label(for="file-input")
                    img.profile-widget-full-item__img-upload(ng-src="http://www.materialui.co/materialIcons/file/file_upload_white_96x96.png")
                input.hide#file-input(type="file")
            img.profile-widget-full__edit(ng-if="editProfile" ng-click="$root.WPFviewEditProfile = !$root.WPFviewEditProfile" ng-src="http://hooptap.s3.amazonaws.com/widgets/edit.svg")
            //img.profile-widget-full__logout(ng-src="http://hooptap.s3.amazonaws.com/widgets/logout.svg" ng-click="formLogout()")
        .col-xs-3.not-padding
            p.profile-widget-full-title__name {{ 'CUSTOMER.common.name' | translate }}:
            p.profile-widget-full-title__email {{ 'CUSTOMER.common.email' | translate }}:
        .col-xs-.not-padding
            p.profile-widget-full-item__name {{$root.customer.username}}
            p.profile-widget-full-item__email {{$root.customer.email}}