c-marker-display {
  display: block;
  position: relative;
  height: 100%;

  .ht-marker-display__zoneRow {
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 0 20px 0;

    .ht-marker-display__wrapper-items {
      padding-right: 6px!important;
      padding-left: 6px!important;

      //->3 cols
      &.col-xs-4 {
        .title__score-units {
          font-size:11pt;
          text-align:right;
          margin-top: 16px;
        }
      }

      //->4 cols
      &.col-xs-3 {
        padding: 0!important;
        .title__score-units {
          font-size:10pt;
          text-align:right;
          margin-top: 13px;
        }
        .ht-marker-display__img {
          height: 26px!important;
          margin-top: 4px;
        }
      }

      //-> 1 col
      &.col-xs-12 {
        .title__score-units {
          margin-right: 20px;
          font-size: 35pt;
          margin-top: -3px;
        }
        .ht-marker-display__badges-img-wrapper {
          text-align: left;
          position: relative;
          left: 14px;
        }
      }
      .ht-marker-display__su,
      .ht-marker-display__level,
      .ht-marker-display__badges {
        cursor: pointer;
      }
      .ht-marker-display__img {
        height:40px!important;
      }
    }
  }

  #ht-marker-display__zoneRow-1 {
    padding-top: 5px!important;
  }

  .row {
    margin: 0 -5px 0 -5px!important;
  }




}
