c-marker-display {
  display: block;
  position: relative;
  height: 100%;
  .zoneRow {
    border-bottom: 1px solid #d2d2d2;
    padding: 20px 0 20px 0;

    //-> 1 COL
    .col-xs-12 {
      .marker-display-badges__img {
        text-align: left;
        position: relative;
        left: 14px;
      }
      .title__score-units {
        margin-right: 20px!important;
        font-size: 35pt!important;
        margin-top: -3px!important;
      }
    }



    //-> 3 COLS
    .col-xs-4 {
      .title__score-units {
        font-size:11pt!important;
        text-align:right!important;
        margin-top: 16px!important;
      }
    }

    //-> 4 COLS
    .col-xs-3 {
      padding: 0!important;
      .title__score-units {
        font-size:10pt!important;
        text-align:right!important;
        margin-top: 13px!important;
      }
      .marker-display__img {
        height: 26px!important;
        margin-top: 4px!important;
      }
    }

    .marker-display__img {
      height:40px!important;
    }

    .profile-widget-full-items {
      padding-right: 6px!important;
      padding-left: 6px!important;
    }
    .marker-display__badges,
    .marker-display__level,
    .marker-display__su {
      cursor: pointer;
    }
  }
  #zoneRow-1 {
    padding-top: 5px!important;
  }

  .row {
    margin: 0 -5px 0 -5px!important;
  }

}
