.wrapper__score-units-title(ng-if="options.zones.model") {{ 'SCOREUNITS.title' | translate }}
.row.zoneRow(ng-repeat="zoneRow in options.zones" id="zoneRow-{{$index+1}}" ng-class="{ 'deleteRow': zoneCol.model == null}")
    .center.profile-widget-full-items(ng-repeat="zoneCol in zoneRow" ng-class="{ 'deleteRow': zoneRow.model == null, 'col-xs-12': zoneRow.length == 1, 'col-xs-6': zoneRow.length == 2, 'col-xs-4': zoneRow.length == 3, 'col-xs-3': zoneRow.length == 4 }")
        .marker-display__su(ng-click="$root.WPFviewLevelList = !$root.WPFviewLevelList"   ng-if="zoneCol.model == 'ScoreUnit'" tooltip-placement="top" uib-tooltip="{{ zoneCol.name | translate }}")
            .col-xs-6.not-padding.score
                .title__score-units {{zoneCol.quantity}}
            .col-xs-6.not-padding
                img.marker-display__img(ng-src="{{zoneCol.image}}")
        .marker-display__level(ng-if="zoneCol.model == 'Level'" tooltip-placement="top" uib-tooltip="{{ zoneCol.name | translate }}")
            .col-xs-6.not-padding
                .title__score-units >{{zoneCol.minimum}}
            .col-xs-6.not-padding
                img.marker-display__img(ng-src="{{zoneCol.image}}")
        .marker-display__badges(ng-click="$root.WPFviewBadges = !$root.WPFviewBadges" ng-if="zoneCol.model == 'Badge'" tooltip-placement="top" uib-tooltip="{{ 'BADGES.title' | translate }}")
            .col-xs-6.not-padding
                .title__score-units {{zoneCol.count}}
            .col-xs-6.marker-display-badges__img.not-padding
                img.marker-display__img(ng-src="{{zoneCol.image}}")
.wrapper__badges-component(ng-if="$root.WPFviewBadges")
    c-button-back(ng-click="$root.WPFviewBadges = !$root.WPFviewBadges")
    c-widget-header(title="{{'BADGES.title' | translate}}")
    c-badges-grid