.wrapper__score-units-title {{ 'SCOREUNITS.title' | translate }}
.row.zoneRow(ng-repeat="zoneRow in options.zones" id="zoneRow-{{$index+1}}")
    .center.profile-widget-full-items(ng-repeat="zoneCol in zoneRow" ng-class="{'col-xs-12': zoneRow.length == 1, 'col-xs-6': zoneRow.length == 2, 'col-xs-4': zoneRow.length == 3, 'col-xs-3': zoneRow.length == 4 }")
        .marker-display__su(ng-click="$root.WPF.viewLevelList = !$root.WPF.viewLevelList"   ng-if="zoneCol.model == 'ScoreUnit'" tooltip-placement="top" uib-tooltip="{{ zoneCol.name | translate }}")
            .col-xs-6.not-padding.score
                .title__score-units {{zoneCol.quantity || defaultValue}}
            .col-xs-6.not-padding
                img.marker-display__img(ng-src="{{ zoneCol.image || suDefaultImage() }}")
        .marker-display__level(ng-if="zoneCol.model == 'Level'" tooltip-placement="top" uib-tooltip="{{ zoneCol.name | translate }}")
            .col-xs-6.not-padding
                .title__score-units >{{zoneCol.minimum || defaultValue}}
            .col-xs-6.not-padding
                img.marker-display__img(ng-src="{{ zoneCol.image || suDefaultImage() }}")
        .marker-display__badges(ng-click="$root.WPF.viewBadges = !$root.WPF.viewBadges" ng-if="zoneCol.model == 'Badge'" tooltip-placement="top" uib-tooltip="{{ 'BADGES.title' | translate }}")
           .col-xs-6.not-padding
                .title__score-units {{zoneCol.count || defaultValue}}
            .col-xs-6.marker-display-badges__img.not-padding
                img.marker-display__img(ng-src="{{ zoneCol.image || badgeDefaultImage() }}")
.wrapper__badges-component(ng-if="$root.WPF.viewBadges")
    c-button-back(ng-click="$root.WPF.viewBadges = !$root.WPF.viewBadges")
    c-widget-header(title="{{'BADGES.title' | translate}}")
    c-badges-grid