c-button-close

//->Mix form
c-customer-nav(ng-if="showMixForm")

//->Login form
c-widget-header(title="{{ 'CUSTOMER.common.login' | translate }}" ng-if="showLoginForm")
c-customer-login(ng-if="showLoginForm")
c-customer-reset(ng-if="showLoginForm")

//->Register form
c-widget-header(title="{{ 'CUSTOMER.common.register' | translate }}" ng-if="showRegisterForm")
c-customer-register(ng-if="showRegisterForm")
c-customer-activate(ng-if="showRegisterForm")
