.ht-wrapper--register__form
    c-button-close
    form.ht-form--register
        .ht-form__group
            input.ht-form__input(type='text')
            span.ht-form__highlight
            span.ht-form__bar
            label.ht-form__label Nombre
        .ht-form__group
            input.ht-form__input(type='email')
            span.ht-form__highlight
            span.ht-form__bar
            label.ht-form__label Email
        .ht-form__group
            input.ht-form__input(type='password')
            span.ht-form__highlight
            span.ht-form__bar
            label.ht-form__label Contraseña
        button.ht-form--button__register(type='button')
            | Register
            .ht-form__ripples.buttonRipples
                span.ht-form__ripplesCircle