script(src='../scripts/form-md.js')
.ht-wrapper--login__form
	c-button-close
	form.form.ht-form.ht-form--registe
        .group
            input(type='text')
            span.highlight
            span.bar
            label Nombre
        .group
            input(type='email')
            span.highlight
            span.bar
            label Email
        .group
            input(type='password')
            span.highlight
            span.bar
            label Contraseña
        button.button-login-form(type='button')
            | Login
            .ripples.buttonRipples
                span.ripplesCircle