.ht-wrapper--update__form
	c-button-close
	form.ht-form.ht-form--update
		p Update your account
		.ht-form__group
			input.ht-form__input(ng-model='emailUpdate' type='text')
			span.ht-form__highlight
			span.ht-form__bar
			label.ht-form__label Email
		.ht-form__group
			input.ht-form__input(ng-model='passwordUpdate' type='password')
			span.ht-form__highlight
			span.ht-form__bar
			label.ht-form__label Contraseña
		//.ht-form__group
			a(href='#' ng-click='goResetForm = !goResetForm') Reset password
		button.ht-form--button__update(type='button' ng-click='userUpdate()')
			| Update
			.ht-form__ripples.buttonRipples
				span.ht-form__ripplesCircle