.ht-badges--list__wrapper
	c-widget-header(title="{{ 'BADGES.title' | translate }}")
	.badge-item.row(ng-repeat="item in badges" id="badge-item-{{$index}}")
		div(ng-if="item.state")
			.badge-item__img.col-xs-3
				img(ng-src="{{item.img}}")
			.col-xs-9
				.badge-item__title(title='{{item.desc}}') {{item.name}}
				.badge-item__desc {{item.desc}}

