c-customer-nav {
  .link-go-login--form, .link-go-register--form {
    color: #3bb2d0;
    padding: 15px;
    margin-bottom: 50px;
    width:49%;
  }

  .link-go-login--form:hover, .link-go-register--form:hover {
    border-bottom:4px solid #1C9AD0;
  }

}