div.ht-profile__wrapper
    div.profile-item
        div.profile-item__wrapper
            img.profile-item__img(ng-src="{{image}}")
        div.profile-item__name {{name}}
        div.profile-item__username {{username}}
        div.profile-item__email {{email}}
            span.profile-item__email--verified-wrapper
                img.profile-item__email--verified(ng-src="{{imageverified}}")




