c-widget-header(title="{{ 'LEVELS.ptitle' | translate }}")
div.ht-level-list
    div.level-list__container
        div.level-list_wrapper
            div(ng-repeat="level in numberLevels track by $index" id="item-su-{{$index}}")
                p Level {{$index +1}}