c-level-actual {
  .level-actual__img {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    padding: 15px;
    width: 135px;
  }


  .level-actual_wrapper--progressbar, .level-actual_wrapper--detailsNextLevel {
    padding: 0 15px 0 15px;
  }


}