div.ht-level-actual
    div.level-actual__container
        div.level-actual_wrapper
            img.level-actual__img(ng-src="{{image}}")
        div.level-actual_wrapper--progressbar
            p Progress bar
        div.level-actual_wrapper--detailsNextLevel
            p Detalles del siguiente nivel






