c-profile-full {

  .ht-profile--full {
    background: #ED4264;
    background: -webkit-linear-gradient(to bottom, #ED4264 , #FFEDBC);
    background: linear-gradient(to bottom, #ED4264 , #FFEDBC);
    min-height: 340px;
  }

  .profile--full-item__wrapper {
    height: 130px;
    border-bottom: 2px solid white;
  }

  .profile--full-item__img {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    padding: 15px;
  }

  .profile--full-item__name {
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-bottom: 1px solid white;
  }

  .profile--full-item__username {
    text-align: center;
    font-size: 14px;
    padding: 5px;
    color: grey;
    letter-spacing: 1px;
    border-bottom: 1px solid white;
  }

  .profile--full-item__email {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px;
  }
  .profile--full-item__email--verified {
    width: 5%;
    margin-left: 15px;
    position: relative;
    top: 3px;
  }


}