div.ht-profile--full(style="background:{{color}}")
    div.profile--full__container
        div.profile--full-item__wrapper
            img.profile--full-item__img(ng-src="{{image}}")
        div.profile--full-item__name {{name}}
        div.profile--full-item__username {{username}}
        div.profile--full-item__email {{email}}
            span.profile--full-item__email--verified-wrapper
                img.profile--full-item__email--verified(ng-src="{{imageverified}}")
        div.change-color
            input(placeholder="Introduzca un color de fondo" ng-model="color")



