@import '../../../../common/stylesheets/common/_base.scss';
@import '../../../../common/stylesheets/common/colors.scss';

w-widget-full {
  display: block;
  position: relative;
  font-family: $base-font-family;
  height: 100%;
  .ht-profile-widget-full {
    min-height: 340px;
  }

  .profile-widget-full-item__img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    padding: 0px;
    position: relative;
    top: -14px;
    border: 2px solid #fff;
    width: 130px;
    height: 130px;
  }

  .p-level-name{
    font-size: 10pt;
    color: #006591!important;
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
  }

  .profile-widget-full-item__score-units1, .profile-widget-full-item__score-units2, .profile-widget-full-item__badges {
    border-right: 1px solid #d2d2d2;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .profile-widget-full-item__levels {
    cursor: pointer;
  }

  .wrapper__score-units {
    height: 125px;
    border-bottom: 1px solid #d2d2d2;
    margin-left: 35px;
    margin-right: 35px;
    padding:  39px 0px 20px 0px;
  }

  p.title__score-units {
    font-size: 14pt;
    font-weight: bold;
    color: $_1_quest-title;
    margin-top: 10px;
  }

  .wrapper__levels-title,
  .wrapper__score-units-title,
    .wrapper__gf-title {
    position: relative;
    top: -16px;
    font-size: 10pt;
    color: $_1_quest-title;
  }

  .wrapper__gf-title {
    padding: 36px 0 0;
  }

  .wrapper__level.row {
    height: 150px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 36px 0px 0px 0px;
    border-bottom: 1px solid #d2d2d2;
  }

  p.name-actual-level {
    font-size: 9pt;
    color: $_1_quest-title;
    text-align: center;
  }

  p.title-next-level{
    font-size: 9pt;
    color: grey;
    padding: 0;
    margin: 2px;
    font-weight: bold;
  }

  p.name-next-level{
    font-size: 9pt;
    color: grey;
    padding: 0;
    margin: 2px;
  }

  .progressbar2 {
    width: 233px;
    height: 20px;
    background: grey;
    border-radius: 6px;
    margin-top: 22px;
  }
  
  .progressbar2-actual {
    width: 60%;
    background: $_1_progressbar-actual;
    height: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

  }
  
  .progressbar2-next {
    width: 40%;
    float: right;
    background: $_1_progressbar-next;
    height: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    position: relative;
    top: -20px;
  }

  .progressbar2 p {
    font-size: 10pt;
    margin: 0;
    color: white;
    letter-spacing: 0.5px;
    padding-top: 1px;
  }

  .img-next-level{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 32px;
  }

  .row.wrapper-components {
    position: relative;
    overflow: scroll;
    height: 300px;
    overflow-x: hidden;
  }

  .wrapper__gf.row {
    margin-left: 35px;
    margin-right: 35px;
  }
  
  //->Badge component
  c-badges-grid .tab-content {
    overflow: hidden;
  }
}