@import '../../../../common/stylesheets/common/_base.scss';
@import '../../../../common/stylesheets/common/colors.scss';
@import '../../../../common/stylesheets/common/mixins.scss';

%titleHomeStyleMix {
  position: relative;
  top: -16px;
  font-size: 10pt;
  color: $_1_quest-title;
}

w-widget-full {
  .w-widget-full {
    display: block;
    position: relative;
    font-family: $base-font-family;
    height: 480px;
    min-height: 480px;
    max-height: 480px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    background: $white;
    position: fixed;
    right: 30px;
    bottom: 15px;
    box-shadow: 0 0 5px $black;
    z-index: 999999999;
    border-radius: 14px;
    padding-right: 0!important;

    .ht-profile-widget-full {
      .ht-profile-widget-full__container {
        .wrapper-components {
          position: absolute;
          overflow: auto;
          height: 346px;
          width: 100%;
          &.viewStyle {
            position: relative!important;
            overflow: hidden!important;
            height: 480px!important;
            width: 100%;
          }

          //-> Marker score units block
          .wrapper__score-units {
            margin-left: 25px;
            margin-right: 25px;
            padding:  39px 0px 0px 0px;
          }

          //-> Level block
          //TODO quitar tamaño fijo del bloque para que cuando no hayan datos no espacie tanto
          .wrapper__level {
            margin-left: 25px;
            margin-right: 25px;
            padding: 36px 0px 0px 0px;
            border-bottom: 1px solid $_1_quest-title__inactive;
            .last {
              display: none;
            }
            .wrapper__levels-title {
              @extend %titleHomeStyleMix;
            }
            .wrapper__level-empty-title {
              text-align: center;
              font-size: 11pt;
              color: $_1_color-level-empty-text;
              padding-bottom: 20px;
            }
            .level-home-widget-full__wrapper {
              .img-actual-level {
                width: 88px;
                height: 88px;
                min-height: 88px;
                min-width: 88px;
              }
              .img-next-level{
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
                width: 40px;
              }
              .last-level {
                @extend .wrapper__level-empty-title;
                margin-top: 5px;
                font-weight: bold;
                line-height: 30px;
              }
              .name-actual-level {
                font-size: 9pt;
                color: $_1_quest-title;
                text-align: center;
                width: 100%;
              }
              .wrapper-next-level {
                .title-next-level{
                  font-size: 9pt;
                  color: grey;
                  padding: 0;
                  margin: 2px;
                  font-weight: bold;
                }
                .name-next-level{
                  font-size: 9pt;
                  color: grey;
                  padding: 0;
                  margin: 2px;
                }
              }
              .progressbar {
                width: 233px;
                height: 20px;
                background: $_1_progressbar-new;
                border-radius: 6px;
                margin-top: 22px;
                .progressbar-actual {
                  width: 60%;
                  background: $_1_progressbar-actual;
                  height: 20px;
                  border-top-left-radius: 6px;
                  border-bottom-left-radius: 6px;
                  &.levelComplete {
                    width: 100%!important;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    + .progressbar-next {
                      display: none;
                    }
                  }
                }
                div {
                  font-size: 9pt;
                  margin: 0;
                  color: $white;
                  letter-spacing: 0.5px;
                  padding-top: 2px;
                }
              }
            }
          }

          //->Global feed block
          .wrapper__gf{
            margin-left: 25px;
            margin-right: 25px;
            .wrapper__gf-title {
              @extend %titleHomeStyleMix;
              padding: 36px 0 0;
            }
          }

          //-> Ranking block
          .wrapper__ranking-component {
            width: 400px;
            height: 480px;
            c-ranking-list {
              height: 432px;
              overflow: auto;
              width: 100%;
            }
          }

          //->Edit profile block
          .wrapper__edit-profile {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
          }

          //->Badges block
          .wrapper__badges-component.row {
            margin-left: 0!important;
            margin-right: 0!important;
            c-badges-grid .tab-content {
              width: 400px;
              height: 402px;
              padding: 20px 20px 0px 25px;
              overflow: auto;
              position: relative;
            }
          }
        }
      }
    }
    .footer-shadow {
      height: 30px;
      width: 400px;
      position: fixed;
      bottom: 15px;
      background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to top, rgba(255, 255, 255, 0.65) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
      z-index: 99999999999999999999999999999!important;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    @include scrollbars(10px, $_1_light-grey-background, none, 0px solid $_1_soft-grey-background, 3px);
    }
}