c-button-menu(ng-if="$root.logged" value="menuItems")
c-button-close
c-customer-nav(ng-if="!$root.logged")
.ht-profile-widget-full
    .profile-widget-full__container(ng-show="$root.currentView==='profileWidgetFull.default'")
        c-widget-header
        c-profile-header
        .wrapper__score-units.row
            .wrapper__score-units-title {{ 'SCOREUNITS.title' | translate }}
            .col-xs-4.center.profile-widget-full-item__score-units1(tooltip-placement="top" uib-tooltip="{{ 'SCOREUNITS.types.stars' | translate }}" ng-click="$root.setCurrentView('profileWidgetFull.su.coins')")
                .col-xs-6.not-padding
                    p.title__score-units 500
                .col-xs-6.not-padding
                    img(ng-src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-128.png")
            .col-xs-4.center.profile-widget-full-item__badges(tooltip-placement="top" uib-tooltip="{{ 'BADGES.title' | translate }}" ng-click="$root.setCurrentView('profileWidgetFull.badgesList')")
                .col-xs-6.not-padding
                    p.title__score-units 2
                .col-xs-6.not-padding
                    img(ng-src="http://hooptap.s3.amazonaws.com/widgets/badge.svg")
            .col-xs-4.center.profile-widget-full-item__levels(tooltip-placement="top" uib-tooltip="{{ 'LEVELS.title' | translate }}" ng-click="$root.setCurrentView('profileWidgetFull.levelActual')")
                .col-xs-6.not-padding
                    p.title__score-units 1
                .col-xs-6.not-padding
                    img(ng-src="http://hooptap.s3.amazonaws.com/widgets/level.svg")
        .wrapper__level


