c-button-menu(ng-if="$root.logged" value="menuItems")
c-button-close
c-customer-nav(ng-if="!$root.logged")
c-profile-widget-full(ng-if="$root.logged" image="http://www.busquefotografo.com.br/images/fallback/avatar/thumb_default.png")