c-button-menu(ng-if="$root.logged" value="menuItems")
c-button-close
c-customer-nav(ng-if="!$root.logged")
c-profile-widget-full(ng-if="$root.logged"
image="http://static.avivamiento.com/img/profile.png"
email="fernandogarcia@gmail.com"
type="type"
dynamic="dynamic")