@import '../../../../common/stylesheets/common/mixins';

c-game-room-detail {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;

  .ht-game-room-detail__container {
    @include calc(height, '100% - 40px');
    padding: 7px;
    overflow-y: auto;
    overflow-x: hidden;

    .ht-game-room-detail__wrapper {
      margin: 7px;
      width: 170px;
      height: 170px;

      //Default 2 cols
      .ht-game-room-detail__item {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 170px;
        height: 170px;
        display: inline-block;
        cursor: pointer;
        &hover {
          -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
        }
        .desc {
          text-align: center;
          font-size: 11pt;
          color: white;
        }
        .title {
          text-align: center;
          font-size: 14pt;
          font-weight: bold;
          color: white;
        }

      }

      //Styles for 3 cols
      &.ht-col-3 {
        width: 114.5px;
        height: 114.5px;
        .ht-game-room-detail__item {
          width: 114.5px;
          height: 114.5px;
          .title {
            font-size: 12pt;
            margin-top: 7px;
          }
          .desc {
            font-size: 10pt;
            padding: 0 3px 0 3px;
          }
          &.showCustomImage {
            width: 112px !important;
            height: 112px !important;
            background-size: 112px 112px !important;
          }
        }
      }

      //Styles for 4 cols
      &.ht-col-4 {
        width: 80px;
        height: 80px;
        .ht-game-room-detail__item {
          width: 80px;
          height: 80px;
          .title {
            font-size: 11pt;
            margin-top: 6px;
          }
          .desc {
            font-size: 9pt;
            margin-top: -7px;
          }
          &.showCustomImage {
            width: 80px !important;
            height: 80px !important;
            background-size: 80px 80px !important;
          }
        }
      }

      //Styles for 5 cols
      &.ht-col-5 {
        width: 63px;
        height: 63px;
        .ht-game-room-detail__item {
          width: 63px;
          height: 63px;
          .title {
            font-size: 9pt;
            margin-top: 2px;
          }
          .desc {
            font-size: 8pt;
            margin-top: -9px;
          }
          &.showCustomImage {
            width: 63px !important;
            height: 63px !important;
            background-size: 63px 63px !important;
          }
        }
      }
    }
  }
}