c-button-close
c-button-back(ng-click="$root.WPF.viewGRdetail = !$root.WPF.viewGRdetail" ng-if="$root.WPF.viewGRdetail")
c-widget-header(title="{{::'GAMEROOM_DETAIL.title' | translate}}")
.ht-game-room-detail__container
    .ht-game-room-detail__wrapper.not-padding(ng-repeat="game in gameromDetail" ng-class="{'ht-col-{{numberCols}}': true}" ng-click="openWrapperGame(lg)")
        .ht-game-room-detail__item(ng-class="{'showCustomImage': game.customImage}" ng-style="{'background-image': 'url( {{ game.customImage || defaultImage}} )'}")
            p.title(ng-if="showTitle") {{ game.title }}
            p.desc(ng-if="showDesc" ng-class="{'showOnlyDesc': !showTitle }") {{ game.desc }}