c-button-init(text="Juegue ahora" image="http://iconshow.me/media/images/ui/ios7-icons/png/48/play-outline.png" ng-click="$root.openWidget = !$root.openWidget" ng-if="!$root.openWidget")


//--> WIDGET FULL
//w-widget-full(ng-if="$root.openWidget")

//--> WIDGET CUSTOMER ACCESS
w-widget-customer-access(show-mix-form="true" ng-if="$root.openWidget && !$root.customer.logged")

//--> WIDGET QUESTS
//w-widget-quests

//--> WIDGET RANKING
//w-widget-ranking-total

//--> WIDGET BADGES GRID
//w-widget-badges-grid

//--> WIDGET RANKING TOTAL
//w-widget-ranking-total

//--> COMPONENTE GAME ROOM
//c-game-room

//--> COMPONENTE MODAL PREMIOS
//c-notifications-awards


c-notifications-popup