div#ht-widget(ng-app="htWidget" ng-controller="htWidgetCtrl")
    c-button-init(text="Juegue ahora")
    div(id="ht-widgets").template-1
        //w-widget-profile-simple(id-widget="12345" , config="{'editable': true, rewardsList: ['scoreunits','badges','levels'], 'showImage': false}")

        //-----WIDGET FULL-----\\
        //w-widget-full(
        //    id-widget="12345",
        //    editable="true",
        //    show-image="true",
        //    badges-view="list" ,
        //    show-progress-bar="true",
        //    rewardsList="['scoreunits','badges','levels']"
        //)


        //-----WIDGET QUESTS-----\\
        //w-widget-quests(
        //    id-widget="123456",
        //    showCompleteQuests="true",
        //)



        //-----WIDGET RANKING-----\\
        w-widget-ranking-total(
            id-widget="123456",
            showProfileImg="true",
        )


    c-notifications-popup