div#ht-widget(ng-app="htWidget" ng-controller="htWidgetCtrl")
    c-button-init(text="Juegue ahora")
    div#ht-widgets
        //w-widget-prueba
        //w-widget-call-to-action
        //w-widget-badges-grid
        w-widget-profile-full
        //w-widget-levels
    c-notifications-popup