//--> WIDGET FULL
//w-widget-full(ng-if="$root.openWidget && $root.customer.logged")


//w-widget-customer-access(show-mix-form="true" )

//w-widget-full

//--> WIDGET CUSTOMER ACCESS

//--> WIDGET QUESTS
//w-widget-quests

//--> WIDGET RANKING
//w-widget-ranking-total

//--> WIDGET BADGES GRID
//w-widget-badges-grid

//--> WIDGET RANKING TOTAL
//w-widget-ranking-total

//--> COMPONENTE GAME ROOM
//c-game-room

//--> COMPONENTE MODAL PREMIOS
//c-notifications-awards


//c-notifications-popup