div(id="ht-widget" ng-app="htWidget" ng-controller="htWidgetCtrl")
    c-button-init(text="Juegue ahora")
    div(id="ht-widgets")
        w-widget-prueba
        //w-widget-call-to-action
        //w-widget-profile-simple
        //w-widget-profile-advanced
        //w-widget-levels