div(id="ht-widget" ng-app="htWidget" ng-controller="htWidgetCtrl")
    c-button-init(text="Juegue ahora")
    div(id="ht-widgets")
        //c-widget-quests
        c-widget-rankings
        //c-widget-profile-full
        //c-widget-profile-advanced
        //c-widget-levels