div#ht-widget(ng-app="htWidget" ng-controller="htWidgetCtrl")
    c-button-init(text="Juegue ahora" image="http://iconshow.me/media/images/ui/ios7-icons/png/48/play-outline.png")
    div(id="ht-widgets").template-1

        //--> WIDGET CUSTOMER ACCESS
        //w-widget-customer-access(show-mix-form="true")

        //-----WIDGET FULL-----\\
        //w-widget-full
        c-quests-list
        //--> WIDGET QUESTS
        //w-widget-quests

        //--> WIDGET RANKING
        //w-widget-ranking-total

        //--> WIDGET BADGES GRID
        //w-widget-badges-grid

        //--> WIDGET RANKING TOTAL
        //w-widget-ranking-total

        //--> COMPONENTE GAME ROOM
        //c-game-room

        //--> COMPONENTE MODAL PREMIOS
        //c-notifications-awards


    c-notifications-popup