div(id="ht-widget" ng-app="htWidget" ng-controller="htWidgetCtrl")
    c-button-init(text="Juegue ahora")
    div(id="ht-widgets")
        button(vh-ref='pepe') PEPE
        button(vh-ref='pepe.detail') PEPE.Detail

        //w-widget-prueba
        //w-widget-call-to-action
        //w-widget-badges-grid
        w-widget-full
        //w-widget-levels