//////////////////--------COLORS---------//////////////////////

// General colors
$white: white;
$black: black;
$red: red;
$green: green;
$yellow: yellow;
$orange: orange;

// Primary colors template 1
$_1_header-color: #006591;
$_1_header-color-text-inactive: #0078a0;
$_1_link-text-color: #3bb2d0;
$_1_bar-color-effect: #5264AE;