c-level-home-widget-full {
  display: block;
  position: relative;
  height: 100%;
  .wrapper__levels-title  > span {
    position: relative;
    top: -1px;
    font-size: 10pt;
    color: #006591!important;
  }
  .wrapper-next-level {
    position: relative;
    top: -5px;
  }


}