.level-home-widget-full__container
    .wrapper__levels-title
        span {{ 'LEVELS.title' | translate }}
    .wrapper__level-empty(ng-if="item.levels.length === 0")
        p.wrapper__level-empty-title {{ 'LEVELS.notLevels' | translate }}
    .level-home-widget-full__wrapper(ng-repeat="level in item.levels")
        .col-xs-3.not-padding
            img(ng-src="{{level.image || defaultNextLevelImage}}")
            p.name-actual-level {{level.name}}
        .col-xs-9(ng-if="level.nextId == null")
            p.last-level {{ 'LEVELS.lastLevelMsg' | translate }} {{customer.username}} !
        .col-xs-9(ng-if="level.nextId != null")
            .col-xs-4
                img.img-next-level(ng-src="{{nextLevel.image || defaultNextLevelImage}}")
            .col-xs-8.not-padding.wrapper-next-level
                p.title-next-level {{ 'LEVELS.nextLevel' | translate }}:
                p.name-next-level {{nextLevel.name}}
            .col-xs-12(ng-if="levelRow.showProgressBarLevel")
                .progressbar
                    .progressbar-actual(style="width:{{nextLevel.percent}}%")
                        div.center(style="width:233px;") {{customer.scores[ level.scoreUnitId ]}} / {{nextLevel.diff}} {{level.scoreUnitName}}