.level-home-widget-full__container
    .wrapper__levels-title
        span {{ 'LEVELS.title' | translate }}
    .level-home-widget-full__wrapper

        .col-xs-3.not-padding
            //si el nivel tiene imagen:
            img(ng-if="level.image" ng-src="{{level.image}}")
            //si el nivel NO tiene imagen:
            //TODO (modificar img)
            img(ng-if="!level.image" ng-src="http://test.wednesdaynighthop.com/wordpress/wp-content/uploads/2015/03/level-1-icon.png")

            //img(ng-if="!$rootScope.levels.scoreUnitImage" ng-src="http://test.wednesdaynighthop.com/wordpress/wp-content/uploads/2015/03/level-1-icon.png")
            //img(ng-if="$rootScope.levels.scoreUnitImage" ng-src="{{level.scoreUnitImage}}")

            p.name-actual-level {{level.name}}


        .col-xs-9(ng-if="level.nextId == null")
            p YA estás en el último nivel, campeón


        .col-xs-9(ng-if="level.nextId != null")
            .col-xs-3
                //si el siguiente nivel tiene imagen:
                img.img-next-level(ng-if="level.nextLevel.image" ng-src="{{level.nextLevel.image}}")
                //si el siguiente nivel NO tiene imagen:
                //TODO (modificar img)
                img.img-next-level(ng-if="!level.nextLevel.image" ng-src="https://www.dharmamerchantservices.com/wp-content/uploads/2015/05/level-2-icon.png")
            .col-xs-9.not-padding
                p.title-next-level {{ 'LEVELS.nextLevel' | translate }}:
                p.name-next-level {{level.nextLevel.name}}
                p.name-next-level {{level.nextLevel.minimum}} {{level.scoreUnitName}}
            .col-xs-12(ng-if="showProgressBarLevel")
                //TODO renaming progressbar
                .progressbar2
                    .progressbar2-actual(style="width:{{level.nextLevel.percent}}%")
                        p.center +{{$root.customer.scores[ level.scoreUnitId ]}}
                    .progressbar2-next
                        p.center -{{level.nextLevel.diff}}
                    //.progressbar2-name
                    //    p.center {{level.nextLevel.scoreUnitName}}