.ht-wrapper--login__form(ng-init='goResetForm = false')
	c-button-close
	form.ht-form.ht-form--login(ng-hide='goResetForm' name="ht-form__login")
		.ht-form__group
			input.ht-form__input(ng-model='email' type='text' name="email" placeholder="Email")
			span.ht-form__highlight
			span.ht-form__bar
		.ht-form__group
			input.ht-form__input(ng-model='password' type='password' name="password" placeholder="Contraseña")
			span.ht-form__highlight
			span.ht-form__bar
			p {{member.email}}
		.ht-form__group-link
			a(href='#' ng-click='goResetForm = !goResetForm') Reset password
		button.ht-form--button__login(type='button' ng-click='login()')
			| Login
			.ht-form__ripples.buttonRipples
				span.ht-form__ripplesCircle
	//RESET FORM
	form.ht-form--reset(ng-show='goResetForm' name="resetForm")
		.ht-form__group
			input.ht-form__input(ng-model='emailReset' placeholder='Password' type='text' name="emailReset")
			span.ht-form__highlight
			span.ht-form__bar
		.ht-form__group-link
			a(href='#' ng-click='goResetForm = !goResetForm') Go to login
			button.ht-form--button__reset(type='button' ng-click='userReset()')
				| Reset password
				.ht-form__ripples.buttonRipples
					span.ht-form__ripplesCircle