form.ht-form--activate(name="htActivateEmailForm" ng-show='$root.goActivateForm' ng-init="$root.goActivateForm = false;")
    .ht-form__group
        input.ht-form__input(ng-model='emailActivation' type='text' name="emailActivation" required)
        span.ht-form__highlight
        span.ht-form__bar
        label.ht-form__label {{ 'CUSTOMER.activate.title' | translate }}
    .ht-form__group-link
        a(href='#' ng-click='$root.goActivateForm = false;') {{ 'CUSTOMER.activate.goReg' | translate }}
    .ht-form__group-button
        button.ht-form--button__activationMail(type='button' ng-click='userActivationEmail()')
            | {{ 'CUSTOMER.activate.button' | translate }}