form(id="login_form" action="submit")
    label(for="email") Email
    input.input-text(type="text" name="email")
    label(for="password") Password
    input.input-text(type="password" name="password")
    .Button.button--submit(id="login_submit")
