li.quest--row(id="<%-_id%>", data-finished="<%-finished%>", data-active="<%-active%>")
	.quest--row--image-holder
		img.quest--row--image(src="<%-image%>", alt="<%-name%>")
	.quest--row--text-holder
		.quest--row--title <%-name%>
		.quest--row--desc <%-desc%>
	<% if (finished) { %>
		.quest--row--status-label(bg-black) Finished
	<% } else {%>
		<% if (!active) { %>
			<!-- .quest--row--status-label(bg-green) New -->
		<% } else {%>
			.quest--row--status-label(bg-yellow) Active
		<% } %>
	<% } %>

	table.stepbar
		tbody
			tr.stepbar-row(data-totalSteps="<%-steps.length%>", data-actualStep="<%-completed_steps.length%>")
				<% for (i = 0; i < steps.length; i++) { %>
					td
						div(class="stepbar-step <%= steps[i].name %>  <% if( i <= (completed_steps.length -1) ){ %>  is-completed <% } %>")
				<% } %>
	<% if (!finished) { %>
		.quest--row--actual-step
			span.actual-step--num Currently in step <%= (completed_steps.length + 1) %> of <%= steps.length %>
			.actual-step--name <%= steps[completed_steps.length].name %>
	<% } %>