li.ranking--container--list--row(id='<%-_id%>', data-self='<%-self %>')
	.ranking--user--position <%-position%>
	img.ranking--user--image(src='<%-image%>', alt='<%-username%>')
	.ranking--user--name <%-username%>
	span.ranking--user--points <%-mark%> pts

