.ht-widget(style="position:fixed;right:5px;bottom:5px;background:#ccc;color:#333;padding:5px;box-shadow: 0 0 5px #000;")
    input(ng-model='email' placeholder='Email' type='text')
    input(ng-model='password' placeholder='Password' type='password')
    button(type='button' ng-click='userLogin()') Login
    c-profile-simple(item='member' funciones='funciones')
    c-badges-list(item='badges')
